﻿
@{
    Layout = null;
}
@if (ViewBag.Data != null)
{
<table class="table table-bordered table-striped">
    <tr>
        <td style="width:250px">UNHCR case ID:</td>
        <td>@ViewBag.Data["Beneficiary_ID"]</td>
    </tr>
    <tr>
        <td>Governorate:</td>
        <td>@ViewBag.Data["Governorate"]</td>
    </tr>
    <tr>
        <td>Case size:</td>
        <td>@ViewBag.Data["CaseSize"]</td>
    </tr>
    <tr>
        <td>Reload amount:</td>
        <td>@ViewBag.Data["ReloadAmount"]</td>
    </tr>
    <tr>
        <td>Current Balance:</td>
        <td>@ViewBag.Data["CurrentBalance"]</td>
    </tr>
    <tr>
        <td>Date of Entry:</td>
        <td>@ViewBag.Data["DateOfEntry"]</td>
    </tr>
    <tr>
        <td>Last date of GFA reload:</td>
        <td>@ViewBag.Data["LastReloadDate"]</td>
    </tr>
    <tr>
        <td>Reason for removal:</td>
        <td>@ViewBag.Data["ReasonForRemoval"]</td>
    </tr>
    <tr>
        <td>Vulnerability status:</td>
        <td>@ViewBag.Data["VulnerabilityStatus"]</td>
    </tr>
    <tr>
        <td>Replacement status:</td>
        <td>@ViewBag.Data["ReplacementStatus"]</td>
    </tr>
    <tr>
        <td>Previous Helpdesk Records:</td>
        <td><a style="text-decoration:underline" href="/LogBook/Helpdesk/Records?grid-filter=CaseNumber__1__@ViewBag.Data["Beneficiary_ID"]">@ViewBag.Data["PreviousRecords"] record</a></td>
    </tr>
</table>
}
else{
    <em>No data available</em>
}