﻿
@{
    ViewBag.Title = "BeneficiarySearch";
}

<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <h2>Beneficiary Search</h2>
        Enter Beneficiary Case ID:<br />
        <input type="text" name="CaseNumber" id="CaseNumber" class="form-control" /><br />
        <input type="button" class="btn btn-primary" onclick="showResults()" value="Search"/>
        <hr />
        <div id="results"></div>
    </div>
</div>
<script>
    function showResults() {
        var id = $("#CaseNumber").val();
        if (id == "" || id == null) {
            alert("Please enter case ID");
        }
        else {
            $.get("/logBook/Ajax/checkBeneficiaryId?id=" + id, function (response, status) {
                debugger;
                data = JSON.parse(response);
                if (data.status == 200) {
                    $.get('/LogBook/HelpDesk/BeneficiaryProfile?id=' + id, function (data, status) {
                        $("#results").html("<h3>Beneficiary Details</h3>"+data);
                    });
                }
                else if (data.status == 400) {
                    $("#results").html("Non-WFP beneficiary");
                    $("#results").css("color", "red");
                }
                else {
                    $("#results").html("Unable to check case number");
                    $("#results").css("color", "red");
                }
                $('#results').unblink();
            });
        }
    }
</script>