﻿@using GridMvc.Html
@model IEnumerable<HotlineMVC.Models.HelpdeskModel>
@{
    ViewBag.Title = "HelpDesk Records";
}

@{string pageTitle = "HelpDesk Records";}

<link href="~/Content/css/Gridmvc.css" rel="stylesheet" />
<link href="~/Content/css/gridmvc.datepicker.css" rel="stylesheet" />
<link href="~/Content/css/bootstrap-dialog.min.css" rel="stylesheet" />
<script src="~/Scripts/gridmvc.min.js"></script>
<script src="~/Scripts/gridmvc.customwidgets1.js?token=@DateTime.Now.ToString("yyyyMMddHHmmss")"></script>
<script src="~/Scripts/bootstrap-datepicker.js"></script>
<script src="~/Content/js/bootstrap-dialog.js"></script>

<link href="~/Content/css/csstable.css" rel="stylesheet" />
<style>
    legend {
        color: white;
        border-radius: 5px;
        padding-left: 10px;
        background-color: #337ab7;
    }

    .view-dialog .modal-dialog {
        width: 500px;
        height: 900px;
    }

    .view-record .modal-dialog {
        width: 800px;
        height: 900px;
    }

    .required {
        color: red;
        float: right;
    }
    table.grid-table .grid-header > .grid-header-title a {
        color:white;
        width:400px;
    }

    /*
    #gridview {
        overflow-x: auto !important;
        overflow-y: hidden !important;
    }
   */
</style>
<style>

</style>
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->
        <!-- BEGIN THEME PANEL -->
        <!-- END THEME PANEL -->
        @*<h3 class="page-title">
                Log Book Issues :: @pageTitle
            </h3>*@
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href="/LogBook">Home</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <span>@pageTitle </span>
                </li>
            </ul>
            <div class="page-toolbar">
                <div class="btn-group pull-right">
                    <div class="dropdown pull-right">
                        <button type="button" class="btn btn-circle btn-outline red dropdown-toggle" onclick="newRecord()">
                            <i class="fa fa-plus"></i>&nbsp;
                            <span class="hidden-sm hidden-xs">New&nbsp;</span>&nbsp;
                        </button>
                    </div>
                    <div class="dropdown pull-right" style="display:none;">
                        <button class="btn green btn-outline btn-circle dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
                            <i class="fa fa-tag"></i>&nbsp;Assign Records
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="menu1">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:assignSelected()">Selected Records</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:assignAll()">All Records</a></li>
                        </ul>
                    </div>
                    <div class="dropdown pull-right">
                        <button class="btn green btn-outline btn-circle dropdown-toggle" type="button" id="menu2" data-toggle="dropdown">
                            <i class="fa fa-table"></i>&nbsp;Export to Excel
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="menu2">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:exportSelected()">Selected Records</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:exportAll('AllCalls')">All Records</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- END PAGE HEADER-->
        <div id='loadingmessage' style='display: none; width: 100%; text-align: center'>
            <img src='~/Content/images/download.gif' />
        </div>


        <div id="gridview" class="csstable-details">
            @Html.Grid(Model).Named("ordersGrid").Columns(columns =>
{
    columns.Add()
    .Titled("<input type=checkbox name='0' onchange=checkAll(this.checked) />Action")
            .Encoded(false)
            .Sanitized(false)
            .SetWidth(130)
            .RenderValueAs(d =>
            @<b>
                <input type="checkbox" name="@d.RecordNumber" onchange="selectItem(this.checked,'@d.RecordNumber')" /> &nbsp;
                <a href="javascript:view('@d.RecordNumber')"><img src="/LogBook/Content/images/view.png" /></a>
                <a href="javascript:edit('@d.RecordNumber')"><img src="/LogBook/Content/images/edit.gif" /></a>
            </b>);

    columns.Add(o => o.RecordNumber)
            .Titled("Record Number")
            .SetWidth(100);

    columns.Add(o => o.StatusDesc)
            .Titled("Status").SetFilterWidgetType("StatusesFilterWidget");

    columns.Add(o => o.Date)
            .Titled("Date")
            .Format("{0:dd/MM/yyyy}");

    columns.Add(o => o.Time)
            .Titled("Time")
            .Format("{0:HH:mm:ss}");

    columns.Add(o => o.CaseNumber)
    .Titled("Case Number")
    .Encoded(false)
    .Sanitized(false)
    .RenderValueAs(d =>
    @<b>
        <a href="javascript:viewBeneficiaryProfile('@d.CaseNumber')">@d.CaseNumber</a>
    </b>);

    columns.Add(o => o.PhoneNumber)
    .Titled("PhoneNumber");

    columns.Add(o => o.GenderDesc)
    .Titled("Gender").SetFilterWidgetType("GenderFilterWidget");

    columns.Add(o => o.GovernorateDesc)
        .Titled("Governorate").SetFilterWidgetType("GovernorateFilterWidget");

    columns.Add(o => o.PartnerDesc)
            .Titled("Partner").SetFilterWidgetType("PartnerFilterWidget");

    columns.Add(o => o.CBODesc)
            .Titled("CBO").SetFilterWidgetType("CBOFilterWidget").SetWidth(400);

    columns.Add(o => o.Staff)
        .Titled("Staff");

    columns.Add(o => o.CategoryDesc)
            .Titled("Category").SetFilterWidgetType("HelpdeskCategoryFilterWidget").SetWidth(400);

    columns.Add(o => o.SubcategoryDesc)
        .Titled("Subcategory")
        .SetFilterWidgetType("HelpdeskSubcategoryFilterWidget")
        .SetWidth(400);

    columns.Add(o => o.AddressedOnSpotDesc)
        .Titled("Addressed on Spot")
        .SetFilterWidgetType("AddressedOnSpotFilterWidget");

    columns.Add(o => o.ResponsibleUnitDesc)
   .Titled("Responsible Unit").SetFilterWidgetType("ResponsibleUnitFilterWidget")
   .SetWidth(400);

}).WithPaging(20).Sortable().Filterable().WithMultipleFilters().WithGridItemsCount("Total Records")
        </div>

        <div id="ben-profile"></div>
        <div class="clearfix"></div>
        <!-- END DASHBOARD STATS 1-->
    </div>
    <!-- END CONTENT BODY -->
</div>

<div class="modal fade" id="update_data" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:800px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title" id="myModalLabel">
                    Enter/Update HelpDesk
                </h3>
            </div>
            <div class="modal-body">
                <div class="alert alert-success" id="success-alert">
                    <button type="button" class="close" data-dismiss="alert">x</button>
                    <span id="alert-message"></span>
                </div>
                <div id='loader2' style='display: none; width: 100%; text-align: center'>
                    <img src='~/Content/images/download.gif' />
                </div>
                @{ Html.RenderPartial("_UpdateHelpdesk"); }
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="assign_dialog" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:880px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title" id="myModalLabel">
                    Assign Records
                </h3>
            </div>
            <div class="modal-body">
                <table class="table">
                    <tr>
                        <td>Responsible Unit:</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Responsible Staff:</td>
                        <td>
                            @*@Html.DropDownList("AssignedPerson", (IEnumerable<SelectListItem>)ViewBag.ResponsiblePerson, new { @class = "form-control" })*@
                            <select id="AssignedPerson" name="AssignedPerson" class="form-control"><option value=""></option></select>
                        </td>
                    </tr>
                    <tr>
                        <td><input type="hidden" name="range" id="range" /><input type="hidden" id="filters" name="filters" /></td>
                        <td><input type="button" class="btn btn-primary" value="Assign" style="width:100%" onclick="assignRecords()" /></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalUploadFiles" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:880px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title" id="myModalLabel">
                    Upload Documents
                </h3>
            </div>
            <div class="modal-body">

                <table>
                    <tr id="trFileUpload">
                        <td>
                            Upload Documents:
                        </td>
                        <td>
                            @*<input type="file" name="file" id="file" />*@
                            <form id="uploader">
                                <input id="fileInput" type="file" multiple>
                                <input type="submit" value="Upload document/s" />
                            </form>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>



<script>
    var SubCategory = @Html.Raw(ViewBag.SubCategory);
    var CBOs = @Html.Raw(ViewBag.CBO);
    var Governorates=@Html.Raw(ViewBag.Governorate);
</script>
<script src="~/Content/assets/global/plugins/counterup/jquery.waypoints.min.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/counterup/jquery.counterup.min.js" type="text/javascript"></script>
<script src="~/Content/js/jquery.blink.js"></script>
<script src="~/Content/js/helpdesk.js?token=@DateTime.Now.ToString("yyyyMMddHHmmss")"></script>

<script type="text/javascript">


    //// $('#UnitsInCopy').selectize();
    //var $select = $("#UnitsInCopy").selectize({
    //    //options here
    //});
    //var selectizeControl = $select[0].selectize;

    //selectizeControl.on('change', function() {
    //    var test = selectizeControl.getValue();
    //    $('#hfCopyOtherUnits').val(test);
    //});
</script>
