﻿
@{
    ViewBag.Title = "Replacement";
}
<link href="~/Content/css/Gridmvc.css" rel="stylesheet" />
<link href="~/Content/css/gridmvc.datepicker.css" rel="stylesheet" />
<link href="~/Content/css/bootstrap-dialog.min.css" rel="stylesheet" />
<script src="~/Scripts/gridmvc.min.js"></script>
<script src="~/Scripts/gridmvc.customwidgets1.js"></script>
<script src="~/Scripts/bootstrap-datepicker.js"></script>
<script src="~/Content/js/bootstrap-dialog.js"></script>
<style>
    .page-content {
        height: 1300px;
    }

    .auto-style1 {
        text-align: center;
    }

    .login-dialog .modal-dialog {
        width: 1200px;
    }
</style>
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->
        <!-- BEGIN THEME PANEL -->
        <!-- END THEME PANEL -->
        @*<h3 class="page-title">
                Log Book Issues :: @pageTitle

            </h3>*@
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href="/LogBook">Home</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <span>Replacement Status</span>
                </li>
            </ul>
            <div class="page-toolbar">
                <div class="btn-group pull-right">
                    <div class="dropdown pull-right">
                        <button type="button" class="btn btn-circle btn-outline red dropdown-toggle" onclick="newRecord()">
                            <i class="fa fa-plus"></i>&nbsp;
                            <span class="hidden-sm hidden-xs">New Request&nbsp;</span>&nbsp;
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- END PAGE HEADER-->

        <!-- BEGIN DASHBOARD STATS 1-->
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="dashboard-stat green">
                    <div class="visual">
                        <i class="fa fa-comments"></i>
                    </div>
                    <div class="details">
                        <div class="number">
                            <span data-counter="counterup" data-value="3456">0</span>
                        </div>
                        <div class="desc"> All Requests </div>
                    </div>
                    <a class="more" href="javascript:;">
                        View more
                        <i class="m-icon-swapright m-icon-white"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="dashboard-stat green">
                    <div class="visual">
                        <i class="fa fa-bar-chart-o"></i>
                    </div>
                    <div class="details">
                        <div class="number">
                            <span data-counter="counterup" data-value="908">0</span>
                        </div>
                        <div class="desc"> Pending </div>
                    </div>
                    <a class="more" href="javascript:;">
                        View more
                        <i class="m-icon-swapright m-icon-white"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="dashboard-stat green">
                    <div class="visual">
                        <i class="fa fa-shopping-cart"></i>
                    </div>
                    <div class="details">
                        <div class="number">
                            <span data-counter="counterup" data-value="35">0</span>days
                        </div>
                        <div class="desc"> Average duration </div>
                    </div>
                    <a class="more" href="javascript:;">
                        View more
                        <i class="m-icon-swapright m-icon-white"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="dashboard-stat green">
                    <div class="visual">
                        <i class="fa fa-globe"></i>
                    </div>
                    <div class="details">
                        <div class="number">
                            <span data-counter="counterup" data-value="80">0</span>%
                        </div>
                        <div class="desc"> Service Level </div>
                    </div>
                    <a class="more" href="javascript:;">
                        View more
                        <i class="m-icon-swapright m-icon-white"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <!-- END DASHBOARD STATS 1-->

        <div id='loadingmessage' style='display: none; width: 100%; text-align: center'>
            <img src='~/Content/images/download.gif' />
        </div>
        <table id="Table_01" width="1120" height="795" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td colspan="11">
                    <img src="~/Content/images/replacement/replacement-workflow_01.png" width="1120" height="54" alt="">
                </td>
            </tr>
            <tr>
                <td colspan="11">
                    <img src="~/Content/images/replacement/replacement-workflow_02.png" width="1120" height="115" alt="">
                </td>
            </tr>
            <tr>
                <td>
                    <img src="~/Content/images/replacement/replacement-workflow_03.png" width="15" height="37" alt="">
                </td>
                <td colspan="2" class="auto-style1">
                    <a href="javascript:showRequests()">New Requests (120)</a>
                </td>
                <td>
                    <img src="~/Content/images/replacement/replacement-workflow_05.png" width="98" height="37" alt="">
                </td>
                <td class="auto-style1">
                    <a href="javascript:showRequests()">Eligible (56)</a>
                </td>
                <td>
                    <img src="~/Content/images/replacement/replacement-workflow_07.png" width="158" height="37" alt="">
                </td>
                <td class="auto-style1">
                    <a href="javascript:showRequests()">
                        Request Sent
                        <br />
                        to the Bank (157)
                    </a>
                </td>
                <td>
                    <img src="~/Content/images/replacement/replacement-workflow_09.png" width="139" height="37" alt="">
                </td>
                <td class="auto-style1">
                    <a href="javascript:showRequests()">
                        Received from
                        <br />
                        The Bank (230)
                    </a>
                </td>
                <td colspan="2">
                    <img src="~/Content/images/replacement/replacement-workflow_11.png" width="32" height="37" alt="">
                </td>
            </tr>
            <tr>
                <td colspan="11">
                    <img src="~/Content/images/replacement/replacement-workflow_12.png" width="1120" height="160" alt="">
                </td>
            </tr>
            <tr>
                <td colspan="11">
                    <img src="~/Content/images/replacement/replacement-workflow_13.png" width="1120" height="89" alt="">
                </td>
            </tr>
            <tr>
                <td>
                    <img src="~/Content/images/replacement/replacement-workflow_14.png" width="15" height="41" alt="">
                </td>
                <td class="auto-style1">
                    <a href="javascript:showRequests()">Not Eligible (45)</a>
                </td>
                <td colspan="4">
                    <img src="~/Content/images/replacement/replacement-workflow_16.png" width="429" height="41" alt="">
                </td>
                <td class="auto-style1">
                    <a href="javascript:showRequests()">Not Distributed (123)</a>
                </td>
                <td>
                    <img src="~/Content/images/replacement/replacement-workflow_18.png" width="139" height="41" alt="">
                </td>
                <td colspan="2" class="auto-style1">
                    <a href="javascript:showRequests()">
                        Handed Over
                        <br />
                        to the CP (345)
                    </a>
                </td>
                <td>
                    <img src="~/Content/images/replacement/replacement-workflow_20.png" width="18" height="41" alt="">
                </td>
            </tr>
            <tr>
                <td colspan="11">
                    <img src="~/Content/images/replacement/replacement-workflow_21.png" width="1120" height="158" alt="">
                </td>
            </tr>
            <tr>
                <td colspan="11">
                    <img src="~/Content/images/replacement/replacement-workflow_22.png" width="1120" height="75" alt="">
                </td>
            </tr>
            <tr>
                <td colspan="8">
                    <img src="~/Content/images/replacement/replacement-workflow_23.png" width="921" height="44" alt="">
                </td>
                <td colspan="2" class="auto-style1">
                    <a href="http://">Distributed (3,214)</a>
                </td>
                <td>
                    <img src="~/Content/images/replacement/replacement-workflow_25.png" width="18" height="44" alt="">
                </td>
            </tr>
            <tr>
                <td colspan="11">
                    <img src="~/Content/images/replacement/replacement-workflow_26.png" width="1120" height="21" alt="">
                </td>
            </tr>
            <tr>
                <td>
                    <img src="~/Content/images/replacement/spacer.gif" width="15" height="1" alt="">
                </td>
                <td>
                    <img src="~/Content/images/replacement/spacer.gif" width="167" height="1" alt="">
                </td>
                <td>
                    <img src="~/Content/images/replacement/spacer.gif" width="14" height="1" alt="">
                </td>
                <td>
                    <img src="~/Content/images/replacement/spacer.gif" width="98" height="1" alt="">
                </td>
                <td>
                    <img src="~/Content/images/replacement/spacer.gif" width="159" height="1" alt="">
                </td>
                <td>
                    <img src="~/Content/images/replacement/spacer.gif" width="158" height="1" alt="">
                </td>
                <td>
                    <img src="~/Content/images/replacement/spacer.gif" width="171" height="1" alt="">
                </td>
                <td>
                    <img src="~/Content/images/replacement/spacer.gif" width="139" height="1" alt="">
                </td>
                <td>
                    <img src="~/Content/images/replacement/spacer.gif" width="167" height="1" alt="">
                </td>
                <td>
                    <img src="~/Content/images/replacement/spacer.gif" width="14" height="1" alt="">
                </td>
                <td>
                    <img src="~/Content/images/replacement/spacer.gif" width="18" height="1" alt="">
                </td>
            </tr>
        </table>
    </div>
</div>
<script src="~/Content/assets/global/plugins/counterup/jquery.waypoints.min.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/counterup/jquery.counterup.min.js" type="text/javascript"></script>

<script>
        function showRequests() {
            BootstrapDialog.show({
                cssClass: 'login-dialog',
                message: $('<div></div>').load('/LogBook/Content/new_applications.html')
            });
        }
</script>