﻿
@{
    Layout = null;
}

@model HotlineMVC.Models.HelpdeskModel

<table>
    <tr>
        <td style="vertical-align:top">
            <table class="table table-striped table-bordered" style="width:380px">
                <tr>
                    <td style="width:200px">Record Number:</td>
                    <td>
                        @Model.RecordNumber
                    </td>
                </tr>
                <tr>
                    <td style="width:200px">Case Number:</td>
                    <td>
                        @Model.CaseNumber
                    </td>
                </tr>
                <tr>
                    <td style="width:200px">Phone Number:</td>
                    <td>
                        @Model.PhoneNumber
                    </td>
                </tr>
                <tr>
                    <td style="width:200px">Gender:</td>
                    <td>
                        @Model.GenderDesc
                    </td>
                </tr>
                <tr>
                    <td style="width:200px">Governorate:</td>
                    <td>
                        @Model.GovernorateDesc
                    </td>
                </tr>
                <tr>
                    <td>Partner Name:</td>
                    <td>@Model.PartnerDesc</td>
                </tr>
                <tr>
                    <td>CBO Helpdesk Name:</td>
                    <td>@Model.CBODesc</td>
                </tr>
            </table>
        </td>
        <td style="vertical-align:top">
            <table class="table table-striped table-bordered" style="width:380px">
                <tr>
                    <td style="width:160px">Category:</td>
                    <td>
                        @Model.CategoryDesc
                    </td>
                </tr>
                <tr>
                    <td>Sub category:</td>
                    <td>
                        @Model.SubcategoryDesc
                    </td>
                </tr>
                <tr>
                    <td>Card Replacement Required:</td>
                    <td>
                        @Model.ReplacementRequiredDesc
                    </td>
                </tr>
                <tr>
                    <td>Details:</td>
                    <td>
                        @Model.Details
                    </td>
                </tr>
                <tr>
                    <td>Addressed on Spot:</td>
                    <td>
                        @Model.AddressedOnSpotDesc
                    </td>
                </tr>
                <tr>
                    <td>Status:</td>
                    <td>
                        @Model.StatusDesc
                    </td>
                </tr>
                <tr>
                    <td>Responsible Unit:</td>
                    <td>
                        @Model.ResponsibleUnitDesc
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>