﻿
@{
    ViewBag.Title = "Index";
}

<link href="~/Content/css/csstable.css" rel="stylesheet" />
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->
        <!-- BEGIN THEME PANEL -->
        <!-- END THEME PANEL -->
        <h3 class="page-title">
            Log Book :: Admin
            <small>update Log Book settings</small>
        </h3>
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href="/LogBook">Home</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <span>Admin</span>
                </li>
            </ul>
        </div>
        <!-- END PAGE HEADER-->
        <!-- END CONTENT BODY -->
        <div class="row">
            <div class="col-sm-4 col-md-4">
                <ul>
                    <li><a href="javascript:showTable(1)">Call Sources</a></li>
                    <li><a href="javascript:showTable(2)">Governorates</a></li>
                    <li><a href="javascript:showTable(3)">Gender</a></li>
                    <li><a href="javascript:showTable(4)">Main Purpose</a></li>
                    <li><a href="javascript:showTable(5)">Shop Issues</a></li>
                    <li><a href="javascript:showTable(6)">Protection Issues</a></li>
                    <li><a href="javascript:showTable(7)">Cash Comparative Study Issues</a></li>
                    <li><a href="javascript:showTable(8)">Functional Units</a></li>
                </ul>
            </div>
            <div class="col-sm-8 col-md-8" id="results">
            </div>
        </div>
    </div>
</div>
<script>
    function showTable(id) {
        var url = "/LogBook/Admin/ShowTable/" + id;
        $.ajax({
            url: url,
            type: 'GET',
            cache: false,
            success: function (data) {
                $("#results").html(data);
            }
        });
    }
</script>
