﻿@using System.Data;
@{
    Layout = null;
}

<div id="list-container">
    <div class="csstable">
        <form name="form1" id="form1">
            <table>
                <tr>
                    <td>ID</td>
                    <td>Description</td>
                    <td>&nbsp;</td>
                </tr>
                @{foreach (DataRow row in ((DataTable)(ViewBag.Data)).Rows)
            {
                        <tr>
                            <td class="number">@row[0].ToString()</td>
                            <td><span id="view-value-@row[0].ToString()">@row[1].ToString()</span>
                                <span id="update-value-@row[0].ToString()" style="display:none"><input type="text" id="input-value-@row[0].ToString()" value="@row[1].ToString()" /></span></td>
                            <td><span id="edit-button-@row[0].ToString()"><a href="javascript:edit(@row[0].ToString())"><img src="~/Content/images/edit.gif" /></a></span>
                                <span id="update-button-@row[0].ToString()" style="display:none"><a href="javascript:update(@row[0].ToString())"><img src="~/Content/images/update.gif" /></a></span>
                                <span id="cancel-button-@row[0].ToString()" style="display:none"><a href="javascript:cancel(@row[0].ToString())"><img src="~/Content/images/cancel.gif" /></a></span></td>
                        </tr>
                    }
                }
                <tr>
                    <td><input type="hidden" name="tableid" value="@(ViewBag.TableId)" /></td>
                    <td><input type="text" name="newitem" id="newitem" /></td>
                    <td><input type="button" class="btn btn-sm btn-primary" value="Add" onclick="create()" /></td>
                </tr>
            </table>
        </form>
    </div>
</div>
<script>
    function create() {
        $.ajax({
            type: "POST",
            url: "/LogBook/Admin/Create/@(ViewBag.TableId)",
            data: $('form').serialize(),
            success: function (msg) {
                if (msg.status == "200") {
                    alert(msg.StatusMessage);
                    showTable(@(ViewBag.TableId));
                }
                else {
                    alert(msg.StatusMessage);
                }
            }
        });
    }
    function showTable(id) {
        var url = "/LogBook/Admin/ShowTable/" + id;
        $.ajax({
            url: url,
            type: 'GET',
            cache: false,
            success: function (data) {
                $("#list-container").html(data);
            }
        });
    }
    function cancel(id) {
        $("#update-value-"+id).hide();
        $("#update-button-"+id).hide();
        $("#cancel-button-"+id).hide();
        $("#view-value-"+id).show();
        $("#edit-button-"+id).show();
    }
    function edit(id) {
        $("#update-value-"+id).show();
        $("#update-button-"+id).show();
        $("#cancel-button-"+id).show();
        $("#view-value-"+id).hide();
        $("#edit-button-"+id).hide();
    }
    function update(id) {
        value = $("#input-value-" + id).val();
        $.ajax({
            type: "POST",
            url: "/LogBook/Admin/Update?table=@(ViewBag.TableId)&id="+id+"&value="+value,
            data: $('form').serialize(),
            success: function (msg) {
                if (msg.status == "200") {
                    alert(msg.StatusMessage);
                    showTable(@(ViewBag.TableId));
                }
                else {
                    alert(msg.StatusMessage);
                }
            }
        });
    }
</script>