﻿@model HotlineMVC.Models.callcenter_calls_view

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>callcenter_calls_view</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Staff)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Staff)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Source)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Source)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Governorate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Governorate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CaseNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CaseNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CallerNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CallerNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MainPurpose)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MainPurpose)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShopProblem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShopProblem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShopID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShopID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProtectionIssue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProtectionIssue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ComparativeStudy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ComparativeStudy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Referral)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Referral)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResponsibleUnit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResponsibleUnit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResponsiblePerson)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResponsiblePerson)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Action)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Action)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActionTakenBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActionTakenBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StatusDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatusDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReferralDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReferralDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GovernorateDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GovernorateDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShopIssue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShopIssue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MainPurposeDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MainPurposeDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GenderDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GenderDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CashComparativeStudy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CashComparativeStudy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SourceDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SourceDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProtectionIssueDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProtectionIssueDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResponsibleUnitDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResponsibleUnitDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShopName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShopName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShopBranch)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShopBranch)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
