﻿@using GridMvc.Html
@model IEnumerable<HotlineMVC.Models.logbook_records_view>
@{
    ViewBag.Title = "Search Results";
}

@{string pageTitle = "Search Results " ;}

<link href="~/Content/css/Gridmvc.css" rel="stylesheet" />
<link href="~/Content/css/gridmvc.datepicker.css" rel="stylesheet" />
<script src="~/Scripts/gridmvc.min.js"></script>
<script src="~/Scripts/gridmvc.customwidgets1.js"></script>
<script src="~/Scripts/bootstrap-datepicker.js"></script>
<script src="~/Content/js/bootstrap-dialog.js"></script>
<link href="~/Content/css/bootstrap-dialog.min.css" rel="stylesheet" />
<style>
    legend {
        color: white;
        border-radius: 5px;
        padding-left: 10px;
        background-color: #337ab7;
    }

    .view-dialog .modal-dialog {
        width: 850px;
    }

    .required {
        color: red;
        float: right;
    }
    #gridview {
        overflow-x: auto !important;
        overflow-y: hidden !important;
    }
</style>

<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->
        <!-- BEGIN THEME PANEL -->
        <!-- END THEME PANEL -->
        @*<h3 class="page-title">
            Log Book Issues :: @pageTitle
           
        </h3>*@
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href="/LogBook">Home</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <span>@pageTitle for <b><i>  @Request.QueryString["q"] </i> </b> </span> @*<span id="number-of-Records"></span> Records</span>*@
                </li>
            </ul>
            <div class="page-toolbar" style="display:none;">
                <div class="btn-group pull-right">
                    @if (Session["LogBookRights"] != null && Session["LogBookRights"].ToString().Contains("CT"))
                    {
                        <div class="dropdown pull-right">
                            <button type="button" class="btn btn-circle btn-outline red dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-plus"></i>&nbsp;
                                <span class="hidden-sm hidden-xs">New&nbsp;</span>&nbsp;
                            </button>
                            <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="menu1">
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:newRecord(1)">Ticket</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:newRecord(2)">Monitoring Note</a></li>
                            </ul>
                        </div>
                    }
                    <div class="dropdown pull-right">
                        <button class="btn green btn-outline btn-circle dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
                            <i class="fa fa-tag"></i>&nbsp;Assign Records
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="menu1">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:assignSelected()">Selected Records</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:assignAll()">All Records</a></li>
                        </ul>
                    </div>
                    <div class="dropdown pull-right">
                        <button class="btn green btn-outline btn-circle dropdown-toggle" type="button" id="menu2" data-toggle="dropdown">
                            <i class="fa fa-table"></i>&nbsp;Export to Excel
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="menu2">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:exportSelected()">Selected Records</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:exportAll('AllCalls')">All Records</a></li>
                        </ul>
                    </div>




                </div>
            </div>
        </div>
        <!-- END PAGE HEADER-->
        <div id='loadingmessage' style='display: none; width: 100%; text-align: center'>
            <img src='~/Content/images/download.gif' />
        </div>


        <div id="gridview">
            @Html.Grid(Model).Named("ordersGrid").Columns(columns =>
       {
       columns.Add()
               //.Titled("<input type=checkbox name='0' onchange=checkAll(this.checked) />Action")
               .Titled("Action")
               .Encoded(false)
               .Sanitized(false)
               .SetWidth(130)
               .RenderValueAs(d =>
            @<b>
                @*<input type="checkbox" name="@d.RecordNumber" onchange="selectItem(this.checked,'@d.RecordNumber')" /> &nbsp;*@
                <a href="javascript:view('@d.RecordNumber')"><img src="/LogBook/Content/images/view.png" /></a>
                <a href="javascript:history('@d.RecordNumber')"><img src="/LogBook/Content/images/history.png" /></a>
                @*@if (Session["LogBookRights"] != null && Session["LogBookRights"].ToString().Contains("ED"))
                {<a href="javascript:edit('@d.RecordNumber')"><img src="/LogBook/Content/images/edit.gif" /></a>
                }*@
            </b>);

           columns.Add(o => o.RecordNumber)
            .Titled("Record Number")
            .SetWidth(100);

           columns.Add(o => o.RecordTypeDesc)
                   .Titled("Record Type")
                   .SetWidth(100).SetFilterWidgetType("RecordsTypeFilterWidget");

           columns.Add(o => o.SourceDesc)
               .Titled("Source").SetFilterWidgetType("SourcesFilterWidget")
               .SetWidth(100);

           columns.Add(o => o.StatusDesc)
                   .Titled("Status").SetFilterWidgetType("StatusesFilterWidget");

           columns.Add(o => o.Date)
                   .Titled("Date")
                   .Format("{0:dd/MM/yyyy}")
                   .SetWidth(110);

           columns.Add(o => o.Date1)
                   .Titled("Date (for filtering)")
                   .Format("{0:dd/MM/yyyy}")
                   .SetWidth(110);

           columns.Add(o => o.Staff)
                   .Titled("Recorded by").SetFilterWidgetType("StaffFilterWidget");

           columns.Add(o => o.GovernorateDesc)
               .Titled("Governorate").SetFilterWidgetType("GovernorateFilterWidget");
           columns.Add(o => o.DistrictDesc)
               .Titled("District").SetFilterWidgetType("DistrictFilterWidget");

           columns.Add(o => o.ProgrammeDesc)
               .Titled("Programme").SetFilterWidgetType("ProgramFilterWidget");
           columns.Add(o => o.SubProgrammeDesc)
              .Titled("Sub Programme").SetFilterWidgetType("SubProgramFilterWidget");

           columns.Add(o => o.CategoryDesc)
           .Titled("Category")
           .SetFilterWidgetType("CategoryFilterWidget");
           columns.Add(o => o.SubCategoryDesc)
           .Titled("Sub Category")
           .SetFilterWidgetType("CustomCompanyNameFilterWidget");

       }).WithPaging(15).Sortable().Filterable().WithMultipleFilters().WithGridItemsCount("Total Records")
        </div>


        <div class="clearfix"></div>
        <!-- END DASHBOARD STATS 1-->
    </div>
    <!-- END CONTENT BODY -->
</div>

<div class="modal fade" id="update_data" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:880px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title" id="myModalLabel">
                    Enter/Update Record
                </h3>
            </div>
            <div class="modal-body">
                <div class="alert alert-success" id="success-alert">
                    <button type="button" class="close" data-dismiss="alert">x</button>
                    <span id="alert-message"></span>
                </div>
                <div id='loader2' style='display: none; width: 100%; text-align: center'>
                    <img src='~/Content/images/download.gif' />
                </div>
                <form id="form1" name="form1" method="post" action="update_data">
                    <p style="font-weight:bold">Record Type: <span style="color:red" id="recordTypeLabel"></span></p>
                    <div id="dvNotifyEmails">
                        <input type="checkbox" name="CopyProtectionAdvisor" id="CopyProtectionAdvisor" value="1">
                        <label for="CopyProtectionAdvisor">Copy Protection Advisor</label>
                        <input type="checkbox" name="CopyGenderFocalPoint" id="CopyGenderFocalPoint" value="1">
                        <label for="CopyGenderFocalPoint">Copy Gender Focal Point</label>
                    </div>
                    <table class="table">
                        <tr>
                            <td style="vertical-align:top; width:50%">
                                <fieldset>
                                    @*<legend>General Information:</legend>*@



                                    <table class="table table-striped table-bordered" style="width:400px">
                                        <tr>
                                            <td style="width:50%;">Programme:<span class="required">*</span></td>
                                            <td>
                                                @Html.DropDownList("Programme", (IEnumerable<SelectListItem>)ViewBag.Programme, new { @class = "form-control", onchange = "changeProgramme()" })
                                            </td>
                                        </tr>
                                        <tr id="SubProgramme-tr" class="optional">
                                            <td>Sub Programme:<span class="required">*</span></td>
                                            <td><select name="SubProgramme" id="SubProgramme" class="form-control" onchange="subprogram_change()"><option value=""></option></select></td>
                                        </tr>


                                        <tr id="trMonitoringActivity" class="optional">
                                            <td>Monitoring Activity:<span class="required">*</span></td>
                                            <td>  @Html.DropDownList("ddlMonitoringActivity", (IEnumerable<SelectListItem>)ViewBag.ddlMonitoringActivity, new { @class = "form-control", onchange = "changeMonitoringActivity(this.value)" })</td>
                                        </tr>

                                        <tr id="trMonitoringActivitySub" class="optional">
                                            <td>Distribution:<span class="required">*</span></td>

                                            <td><select name="ddlMonitoringActivitySub" id="ddlMonitoringActivitySub" class="form-control"><option value=""></option></select></td>
                                        </tr>

                                        <tr id="trSource">
                                            <td>Source of Information: <span class="required">*</span></td>
                                            <td>@Html.DropDownList("Source", (IEnumerable<SelectListItem>)ViewBag.Source, new { @class = "form-control", onchange = "changeSource(this.value)" })</td>
                                        </tr>





                                        <tr id="trOtherExternalSource" class="optional">
                                            <td>External Source:<span class="optional"></span></td>
                                            <td><input type="text" name="txtOtherExternalSource" id="txtOtherExternalSource" class="form-control" /></td>
                                        </tr>
                                        <tr id="SubSource-tr" class="optional">
                                            <td>Specify the Source:<span class="required">*</span></td>
                                            <td><select id="SubSource" name="SubSource" class="form-control"><option value=""></option></select></td>
                                        </tr>

                                        <tr id="trSourceFurtherInfo" class="optional">
                                            <td>Source  Further Info:<span class="optional"></span></td>
                                            <td><input type="text" name="txtSourceFurtherInfo" id="txtSourceFurtherInfo" class="form-control" /></td>
                                        </tr>


                                        <tr>
                                            <td>Number of Locations:<span class="required">*</span></td>
                                            <td>
                                                <select id="numberoflocations" name="numberoflocations" class="form-control" onchange="numberOfLocationsSelect(this.value)">
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                    <option value="6">6</option>
                                                    <option value="7">7</option>
                                                    <option value="8">8</option>
                                                    <option value="9">9</option>
                                                    <option value="10">10</option>

                                                </select>
                                            </td>
                                        </tr>


                                        <tr>

                                            <td colspan="2">

                                                <table style="width:100%">


                                                    <tr id="trLoc1">
                                                        <td style="width:8%; padding:4px;">Type:</td>
                                                        <td style="width:25%;">@Html.DropDownList("LocationType", (IEnumerable<SelectListItem>)ViewBag.LocationTypes, new { @class = "form-control", onchange = "changeLocationType(this.value, 1)" })</td>

                                                        <td style="width:8%;padding:4px;">Gov.:</td>
                                                        <td style="width:25%;"><select id="Governorate" name="Governorate" class="form-control" onchange="changeGovernorate(this.value, 1)"><option value=""></option></select></td>

                                                        <td style="width:8%;padding:4px;">Dis.:</td>
                                                        <td style="width:25%;"><select id="District" name="District" class="form-control"><option value=""></option></select></td>

                                                    </tr>

                                                    <tr id="trLoc2" class="optional">
                                                        <td style="width:8%; padding:4px;">Type:</td>
                                                        <td style="width:25%;">@Html.DropDownList("LocationType2", (IEnumerable<SelectListItem>)ViewBag.LocationTypes, new { @class = "form-control", onchange = "changeLocationType(this.value, 2)" })</td>

                                                        <td style="width:8%;padding:4px;">Gov.:</td>
                                                        <td style="width:25%;"><select id="Governorate2" name="Governorate2" class="form-control" onchange="changeGovernorate(this.value, 2)"><option value=""></option></select></td>

                                                        <td style="width:8%;padding:4px;">Dis.:</td>
                                                        <td style="width:25%;"><select id="District2" name="District2" class="form-control"><option value=""></option></select></td>

                                                    </tr>

                                                    <tr id="trLoc3" class="optional">
                                                        <td style="width:8%; padding:4px;">Type:</td>
                                                        <td style="width:25%;">@Html.DropDownList("LocationType3", (IEnumerable<SelectListItem>)ViewBag.LocationTypes, new { @class = "form-control", onchange = "changeLocationType(this.value, 3)" })</td>

                                                        <td style="width:8%;padding:4px;">Gov.:</td>
                                                        <td style="width:25%;"><select id="Governorate3" name="Governorate3" class="form-control" onchange="changeGovernorate(this.value, 3)"><option value=""></option></select></td>

                                                        <td style="width:8%;padding:4px;">Dis.:</td>
                                                        <td style="width:25%;"><select id="District3" name="District3" class="form-control"><option value=""></option></select></td>

                                                    </tr>

                                                    <tr id="trLoc4" class="optional">
                                                        <td style="width:8%; padding:4px;">Type:</td>
                                                        <td style="width:25%;">@Html.DropDownList("LocationType4", (IEnumerable<SelectListItem>)ViewBag.LocationTypes, new { @class = "form-control", onchange = "changeLocationType(this.value, 4)" })</td>

                                                        <td style="width:8%;padding:4px;">Gov.:</td>
                                                        <td style="width:25%;"><select id="Governorate4" name="Governorate4" class="form-control" onchange="changeGovernorate(this.value, 4)"><option value=""></option></select></td>

                                                        <td style="width:8%;padding:4px;">Dis.:</td>
                                                        <td style="width:25%;"><select id="District4" name="District4" class="form-control"><option value=""></option></select></td>

                                                    </tr>

                                                    <tr id="trLoc5" class="optional">
                                                        <td style="width:8%; padding:4px;">Type:</td>
                                                        <td style="width:25%;">@Html.DropDownList("LocationType5", (IEnumerable<SelectListItem>)ViewBag.LocationTypes, new { @class = "form-control", onchange = "changeLocationType(this.value, 5)" })</td>

                                                        <td style="width:8%;padding:4px;">Gov.:</td>
                                                        <td style="width:25%;"><select id="Governorate5" name="Governorate5" class="form-control" onchange="changeGovernorate(this.value, 5)"><option value=""></option></select></td>

                                                        <td style="width:8%;padding:4px;">Dis.:</td>
                                                        <td style="width:25%;"><select id="District5" name="District5" class="form-control"><option value=""></option></select></td>

                                                    </tr>


                                                    <tr id="trLoc6" class="optional">
                                                        <td style="width:8%; padding:4px;">Type:</td>
                                                        <td style="width:25%;">@Html.DropDownList("LocationType6", (IEnumerable<SelectListItem>)ViewBag.LocationTypes, new { @class = "form-control", onchange = "changeLocationType(this.value, 6)" })</td>

                                                        <td style="width:8%;padding:4px;">Gov.:</td>
                                                        <td style="width:25%;"><select id="Governorate6" name="Governorate6" class="form-control" onchange="changeGovernorate(this.value, 6)"><option value=""></option></select></td>

                                                        <td style="width:8%;padding:4px;">Dis.:</td>
                                                        <td style="width:25%;"><select id="District6" name="District6" class="form-control"><option value=""></option></select></td>

                                                    </tr>

                                                    <tr id="trLoc7" class="optional">
                                                        <td style="width:8%; padding:4px;">Type:</td>
                                                        <td style="width:25%;">@Html.DropDownList("LocationType7", (IEnumerable<SelectListItem>)ViewBag.LocationTypes, new { @class = "form-control", onchange = "changeLocationType(this.value, 7)" })</td>

                                                        <td style="width:8%;padding:4px;">Gov.:</td>
                                                        <td style="width:25%;"><select id="Governorate7" name="Governorate7" class="form-control" onchange="changeGovernorate(this.value, 7)"><option value=""></option></select></td>

                                                        <td style="width:8%;padding:4px;">Dis.:</td>
                                                        <td style="width:25%;"><select id="District7" name="District7" class="form-control"><option value=""></option></select></td>

                                                    </tr>

                                                    <tr id="trLoc8" class="optional">
                                                        <td style="width:8%; padding:4px;">Type:</td>
                                                        <td style="width:25%;">@Html.DropDownList("LocationType8", (IEnumerable<SelectListItem>)ViewBag.LocationTypes, new { @class = "form-control", onchange = "changeLocationType(this.value, 8)" })</td>

                                                        <td style="width:8%;padding:4px;">Gov.:</td>
                                                        <td style="width:25%;"><select id="Governorate8" name="Governorate8" class="form-control" onchange="changeGovernorate(this.value, 8)"><option value=""></option></select></td>

                                                        <td style="width:8%;padding:4px;">Dis.:</td>
                                                        <td style="width:25%;"><select id="District8" name="District8" class="form-control"><option value=""></option></select></td>

                                                    </tr>

                                                    <tr id="trLoc9" class="optional">
                                                        <td style="width:8%; padding:4px;">Type:</td>
                                                        <td style="width:25%;">@Html.DropDownList("LocationType9", (IEnumerable<SelectListItem>)ViewBag.LocationTypes, new { @class = "form-control", onchange = "changeLocationType(this.value, 9)" })</td>

                                                        <td style="width:8%;padding:4px;">Gov.:</td>
                                                        <td style="width:25%;"><select id="Governorate9" name="Governorate9" class="form-control" onchange="changeGovernorate(this.value, 9)"><option value=""></option></select></td>

                                                        <td style="width:8%;padding:4px;">Dis.:</td>
                                                        <td style="width:25%;"><select id="District9" name="District9" class="form-control"><option value=""></option></select></td>

                                                    </tr>


                                                    <tr id="trLoc10" class="optional">
                                                        <td style="width:8%; padding:4px;">Type:</td>
                                                        <td style="width:25%;">@Html.DropDownList("LocationType10", (IEnumerable<SelectListItem>)ViewBag.LocationTypes, new { @class = "form-control", onchange = "changeLocationType(this.value, 10)" })</td>

                                                        <td style="width:8%;padding:4px;">Gov.:</td>
                                                        <td style="width:25%;"><select id="Governorate10" name="Governorate10" class="form-control" onchange="changeGovernorate(this.value, 10)"><option value=""></option></select></td>

                                                        <td style="width:8%;padding:4px;">Dis.:</td>
                                                        <td style="width:25%;"><select id="District10" name="District10" class="form-control"><option value=""></option></select></td>

                                                    </tr>

                                                </table>


                                            </td>


                                        </tr>


                                        <tr id="trHKMLocationType" class="optional">
                                            <td>HKM Location Type:<span class="required">*</span></td>






                                            <td><select name="HKMLocationType" id="HKMLocationType" class="form-control"><option value=""></option> <option value="School">School</option> <option value="Kitchen">Kitchen</option></select></td>



                                        </tr>





                                        <tr id="GPSCoordinates-tr" class="optional">
                                            <td>GPS Coordinates:<span class="required">*</span></td>
                                            <td>
                                                Latitude:<input type="number" name="GPSCoordinatesLat" id="GPSCoordinatesLat" class="form-control" />
                                                Longitude:<input type="number" name="GPSCoordinatesLong" id="GPSCoordinatesLong" class="form-control" />
                                            </td>
                                        </tr>
                                        <tr id="trStatus">
                                            <td>Status:<span class="required">*</span></td>
                                            <td>@Html.DropDownList("Status", (IEnumerable<SelectListItem>)ViewBag.Status, new { @class = "form-control" })</td>
                                        </tr>
                                        <tr id="Category-tr" class="optional">
                                            <td style="width:50%;">Category:<span class="required">*</span></td>
                                            <td><select id="Category" name="Category" class="form-control" onchange="changeCategory()"><option value=""></option></select></td>
                                        </tr>
                                        <tr id="SubCategory-tr" class="optional">
                                            <td style="width:200px">Sub Category:<span class="required">*</span></td>
                                            <td><select id="SubCategory" name="SubCategory" class="form-control"><option value=""></option></select></td>
                                        </tr>
                                    </table>
                                </fieldset>
                                <div id="purposeInfo"></div>
                                <div id="message" style="color:red"></div>
                                <div id="RecordNumber" style="color:red"></div>
                                @Html.Hidden("hfRecordNo", "")
                                <div id="myRecords" style="color:green">Number of my Records today: @ViewBag.MyRecords</div>
                            </td>
                            <td style="vertical-align:top; width:50%">
                                <fieldset>
                                    @*<legend>Details:</legend>*@
                                    <table class="table table-striped table-bordered table-condensed" style="width:400px">

                                        <tr>
                                            <td style="width:180px"><div id="dvNotesLabel">Detailed Description of the issue:</div></td>
                                            <td><textarea id="Details" name="Details" class="form-control" style="overflow-x:auto; overflow-y:scroll;height:100px;"></textarea></td>
                                        </tr>


                                        <tr id="trFollowUp" class="optional">
                                            <td>Follow-up:<span class="optional"></span></td>
                                            <td><input type="text" name="txtFollowUp" id="txtFollowUp" data-provide="datepicker" class="form-control" /></td>
                                        </tr>


                                        <tr id="ResponsibleUnit-tr" class="optional">
                                            <td>Responsible Unit:</td>
                                            <td>@Html.DropDownList("ResponsibleUnit", (IEnumerable<SelectListItem>)ViewBag.ResponsibleUnit, new { @class = "form-control", onchange = "changeUnit('ResponsibleUnit','ResponsiblePerson')" })</td>
                                        </tr>



                                        <tr id="trUnitsInCopy">
                                            <td>
                                                <div style="float:left;">Copy other unit/s:</div>
                                                <div style="clear:both;"></div>
                                                <div style="float:left; font-style:italic; padding:5px; color:red; font-size:12px;">* To select multiple units, press (Ctrl) key and click on the units you want to copy </div>
                                            </td>

                                            <td>
                                                <div style="padding:5px; float:left;">  <button type="button" id="showOtherUnits">Show/Hide other Units List</button></div>
                                                <div style="clear:both;"></div>
                                                <div style="padding:5px; float:left; ">

                                                    @*@Html.ListBox("UnitsInCopy", (IEnumerable<SelectListItem>)ViewBag.UnitsInCopy, new { @class = "form-control", @style = "height:270px;" })*@
                                                </div>
                                            </td>
                                        </tr>

                            </td>





                        <tr id="ResponsiblePerson-tr" class="optional" style="display:none;">
                            <td>Responsible Staff:</td>
                            <td>
                                @*@Html.DropDownList("ResponsiblePerson", (IEnumerable<SelectListItem>)ViewBag.ResponsiblePerson, new { @class = "form-control" })*@
                                <select id="ResponsiblePerson" name="ResponsiblePerson" class="form-control"><option value=""></option></select>
                                <input type="checkbox" name="SendEmail" id="SendEmail" checked="checked" />Send email
                            </td>
                        </tr>
                        <tr id="trRanking">
                            <td>Severity Ranking:</td>
                            <td>@Html.DropDownList("Severity", (IEnumerable<SelectListItem>)ViewBag.CashComparativeStudy, new { @class = "form-control" })</td>
                        </tr>
                        @*<tr>
                                <td>If shop problem, select shop:</td>
                                <td>@Html.DropDownList("ShopId", (IEnumerable<SelectListItem>)ViewBag.ShopId, new { @class = "form-control" })</td>
                            </tr>*@
                        <tr id="trAction">
                            <td>Action Taken:</td>
                            <td><textarea class="form-control" name="Action" id="Action" style="overflow-x:auto; overflow-y:scroll; height:100px;"></textarea></td>
                        </tr>
                    </table>
                    </fieldset>
                    </td>
                    </tr>
                    </table>
                    <input type="hidden" name="RecordType" />
                    <input type="hidden" name="act" />
                    <input type="hidden" name="RecordNumber" />
                    <input type="hidden" name="Staff" id="Staff" value="@Session["Username"]" />
                    <input class="btn btn-success" type="button" name="savenew" id="savenew" value="Save and New" style="width:200px" onclick="saveRecord(false)">
                    <input class="btn btn-warning" type="button" name="saveclose" id="saveclose" value="Save and Close" style="width:200px" onclick="saveRecord(true)">
                    <input class="btn btn-danger" type="button" name="cancel" id="cancel" value="Cancel" style="width:200px" onclick="hideForm()">
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="assign_dialog" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:880px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title" id="myModalLabel">
                    Assign Records
                </h3>
            </div>
            <div class="modal-body">
                <table class="table">
                    <tr>
                        <td>Responsible Unit:</td>
                        <td>

                            @Html.DropDownList("AssignedUnit", (IEnumerable<SelectListItem>)ViewBag.ResponsibleUnit, new { @class = "form-control", onchange = "changeUnit('AssignedUnit','AssignedPerson')" })

                        </td>
                    </tr>
                    <tr>
                        <td>Responsible Staff:</td>
                        <td>
                            @*@Html.DropDownList("AssignedPerson", (IEnumerable<SelectListItem>)ViewBag.ResponsiblePerson, new { @class = "form-control" })*@
                            <select id="AssignedPerson" name="AssignedPerson" class="form-control"><option value=""></option></select>
                        </td>
                    </tr>
                    <tr>
                        <td><input type="hidden" name="range" id="range" /><input type="hidden" id="filters" name="filters" /></td>
                        <td><input type="button" class="btn btn-primary" value="Assign" style="width:100%" onclick="assignRecords()" /></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    var Category = @Html.Raw(ViewBag.Category);
    var SubCategory = @Html.Raw(ViewBag.SubCategory);
    var Governorate = @Html.Raw(ViewBag.Governorate);
    var SubSource = @Html.Raw(ViewBag.SubSource);
    var SubProgramme = @Html.Raw(ViewBag.SubProgramme);
    var district = @Html.Raw(ViewBag.district);
    var ddlMonitoringActivitySub = @Html.Raw(ViewBag.ddlMonitoringActivitySub);
    var responsiblePerson = @Html.Raw(ViewBag.responsiblePerson);



</script>
<script src="~/Content/js/main.js?token=@DateTime.Now.ToString("yyyyMMddHHmmss")"></script>

