﻿@model IEnumerable<HotlineMVC.Models.HistoryModel>
@{
    Layout = null;
}
<link rel="stylesheet" href="~/Content/css/csstable.css" />
<div class="csstable">
    @if (Model != null)
    {
        <table>
            <tr>
                <td>Change</td>
                <td>Done By</td>
                <td>Date/Time</td>
            </tr>
            @foreach (var item in Model)
            {
            <tr>
                <td>@Html.Raw(item.Changes)</td>
                <td>@Html.Raw(item.DoneBy)</td>
                <td>@Html.Raw(item.DateTime)</td>
            </tr>
            }
        </table>
    }
</div>