﻿@model HotlineMVC.Models.logbook_records_view
@{
    Layout = null;
}

<table class="table">
    <tr>
        <td style="vertical-align:top">
            <fieldset>
                @*<legend>General Information:</legend>*@
                <table class="table table-striped table-bordered" style="width:400px">



                    @*@if (Model.Title != "")    {
                <tr>
                    <td>title:</td>
                    <td>@Model.Title</td>
                </tr>
}*@

                    <tr>
                        <td>Record Number:</td>
                        <td>@Model.RecordNumber</td>
                    </tr>

                    <tr>
                        <td>Date:</td>
                        <td>@Model.Date.ToString().AsDateTime().ToString("dd-MMM-yyyy")</td>
                    </tr>


                    <tr>
                        <td>Time:</td>
                        <td>@Model.Time</td>
                    </tr>

                    @if (Model.Status == 2)
    {
                <tr>
                    <td>Closed By:</td>
                    <td>@Model.ClosedBy</td>
                </tr>
                <tr>
                    <td>Date Closed</td>
                    <td>@Model.DateClosed</td>
                </tr>
}

                    <tr>
                        <td>Recorded by:</td>
                        <td>@Model.Staff</td>
                    </tr>

                    <tr>
                        <td>Program:</td>
                        <td>@Model.ProgrammeDesc</td>
                    </tr>

                    <tr>
                        <td>Sub Program:</td>
                        <td>@Model.SubProgrammeDesc</td>
                    </tr>


                    @if (!String.IsNullOrEmpty(@Model.SubProgrammeDetails))
    {
                <tr>
                    <td>Sub Programme Details:</td>
                    <td>@Model.SubProgrammeDetails</td>
                </tr>
}


                    @if (!String.IsNullOrEmpty(@Model.MonitoringActivity))
    {
                <tr>
                    <td>Monitoring Activity:</td>
                    <td>@Model.MonitoringActivity</td>
                </tr>
}

                    @if (!String.IsNullOrEmpty(@Model.MonitoringActivitySub))
    {
                <tr>
                    <td>Distribution:</td>
                    <td>@Model.MonitoringActivitySub</td>
                </tr>
}


                    @if (!String.IsNullOrEmpty(@Model.SourceDesc))
    {
                <tr>
                    <td>Source:</td>
                    <td>@Model.SourceDesc</td>
                </tr>
}
                    @if (!String.IsNullOrEmpty(@Model.OtherExternalSource))
    {
                <tr>
                    <td>External Source:</td>
                    <td>@Model.OtherExternalSource</td>
                </tr>
}

                    @if (!String.IsNullOrEmpty(@Model.SubSourceDesc))
    {
                <tr>
                    <td>Sub Source:</td>
                    <td>@Model.SubSourceDesc</td>
                </tr>
}

                    @if (!String.IsNullOrEmpty(@Model.SourceFurtherInfo))
    {

                <tr>
                    <td>Source Further Info.:</td>
                    <td>@Model.SourceFurtherInfo</td>
                </tr>
}


                    @if (!String.IsNullOrEmpty(@Model.ActivityType1))
               
{
                <tr>
                    <td>Sub Activities:</td>

                    <td>



                        <table style="width:100%;" border="1" cellpadding="2" cellspacing="2">

                            <thead>
                                <tr>

                                    <td><b>Sub Activity</b></td>
                                    <td><b>Number of Forms</b></td>


                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>@Model.ActivityType1</td>
                                    <td>@Model.NumberofForms1</td>


                                </tr>
                                <tr></tr>

                                @if (!String.IsNullOrEmpty(Model.ActivityType2))
                {

                    <tr>
                        <td>@Model.ActivityType2</td>
                        <td>@Model.NumberofForms2</td>
                    </tr>
}
                                @if (!String.IsNullOrEmpty(Model.ActivityType3))
                {

                    <tr>
                        <td>@Model.ActivityType3</td>
                        <td>@Model.NumberofForms3</td>
                    </tr>
}
                                @if (!String.IsNullOrEmpty(Model.ActivityType4))
                {

                    <tr>
                        <td>@Model.ActivityType4</td>
                        <td>@Model.NumberofForms4</td>
                    </tr>
}
                                @if (!String.IsNullOrEmpty(Model.ActivityType5))
                {

                    <tr>
                        <td>@Model.ActivityType5</td>
                        <td>@Model.NumberofForms5</td>
                    </tr>
}
                                @if (!String.IsNullOrEmpty(Model.ActivityType6))
                {

                    <tr>
                        <td>@Model.ActivityType6</td>
                        <td>@Model.NumberofForms6</td>
                    </tr>
}
                                @if (!String.IsNullOrEmpty(Model.ActivityType7))
                {

                    <tr>
                        <td>@Model.ActivityType7</td>
                        <td>@Model.NumberofForms7</td>
                    </tr>
}
                                @if (!String.IsNullOrEmpty(Model.ActivityType8))
                {

                    <tr>
                        <td>@Model.ActivityType8</td>
                        <td>@Model.NumberofForms8</td>
                    </tr>
}
                                @if (!String.IsNullOrEmpty(Model.ActivityType9))
                {

                    <tr>
                        <td>@Model.ActivityType9</td>
                        <td>@Model.NumberofForms9</td>
                    </tr>
}
                                @if (!String.IsNullOrEmpty(Model.ActivityType10))
                {

                    <tr>
                        <td>@Model.ActivityType10</td>
                        <td>@Model.NumberofForms10</td>
                    </tr>
}
                            </tbody>


                        </table>

                    </td>

                </tr>

}





                @if (!string.IsNullOrEmpty(Model.GovernorateDesc))
{
                <tr>
                    <td>Locations:</td>

                    <td>



                        <table style="width:100%;" border="1" cellpadding="2" cellspacing="2">

                            <thead>
                                <tr>

                                    <td><b>Governorate</b></td>
                                    <td><b>District</b></td>
                                    <td><b>Lat</b></td>
                                    <td><b>Long</b></td>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>@Model.GovernorateDesc</td>
                                    <td>@Model.DistrictDesc</td>
                                    <td>
                                        <input readonly="readonly" style="width:40px !important; " value=@Model.GPSCoordinateLat />
                                    </td>
                                    <td>

                                        <input readonly=readonly style="width:40px !important; " value=@Model.GPSCoordinateLong />
                                    </td>

                                </tr>
                                <tr></tr>

                                @if (Model.Gov2ID != null)
                {

                    <tr>
                        <td>@Model.Gov2</td>
                        <td>@Model.Dis2</td>
                        <td>
                            <input readonly=readonly style="width:40px !important; " value=@Model.GPSCoordinateLat2 />
                        </td>
                        <td>

                            <input readonly=readonly style="width:40px !important; " value=@Model.GPSCoordinateLong2 />
                        </td>
                    </tr>
}
                                @if (Model.Gov3ID != null)
                {

                    <tr>
                        <td>@Model.Gov3</td>
                        <td>@Model.Dis3</td>
                        <td>
                            <input readonly=readonly style="width:40px !important; " value=@Model.GPSCoordinateLat3 />
                        </td>
                        <td>

                            <input readonly=readonly style="width:40px !important; " value=@Model.GPSCoordinateLong3 />
                        </td>
                    </tr>
}
                                @if (Model.Gov4ID != null)
                {

                    <tr>
                        <td>@Model.Gov4</td>
                        <td>@Model.Dis4</td>
                        <td>
                            <input readonly=readonly style="width:40px !important; " value=@Model.GPSCoordinateLat4 />
                        </td>
                        <td>

                            <input readonly=readonly style="width:40px !important; " value=@Model.GPSCoordinateLong4 />
                        </td>
                    </tr>
}
                                @if (Model.Gov5ID != null)
                {

                    <tr>
                        <td>@Model.Gov5</td>
                        <td>@Model.Dis5</td>
                        <td>
                            <input readonly=readonly style="width:40px !important; " value=@Model.GPSCoordinateLat5 />
                        </td>
                        <td>

                            <input readonly=readonly style="width:40px !important; " value=@Model.GPSCoordinateLong5 />
                        </td>
                    </tr>
}
                                @if (Model.Gov6ID != null)
                {

                    <tr>
                        <td>@Model.Gov6</td>
                        <td>@Model.Dis6</td>
                        <td>
                            <input readonly=readonly style="width:40px !important; " value=@Model.GPSCoordinateLat6 />
                        </td>
                        <td>

                            <input readonly=readonly style="width:40px !important; " value=@Model.GPSCoordinateLong6 />
                        </td>
                    </tr>
}
                                @if (Model.Gov7ID != null)
                {

                    <tr>
                        <td>@Model.Gov7</td>
                        <td>@Model.Dis7</td>
                        <td>
                            <input readonly=readonly style="width:40px !important; " value=@Model.GPSCoordinateLat7 />
                        </td>
                        <td>

                            <input readonly=readonly style="width:40px !important; " value=@Model.GPSCoordinateLong7 />
                        </td>
                    </tr>
}
                                @if (Model.Gov8ID != null)
                {

                    <tr>
                        <td>@Model.Gov8</td>
                        <td>@Model.Dis8</td>
                        <td>
                            <input readonly=readonly style="width:40px !important; " value=@Model.GPSCoordinateLat8 />
                        </td>
                        <td>

                            <input readonly=readonly style="width:40px !important; " value=@Model.GPSCoordinateLong8 />
                        </td>
                    </tr>
}
                                @if (Model.Gov9ID != null)
                {

                    <tr>
                        <td>@Model.Gov9</td>
                        <td>@Model.Dis9</td>
                        <td>
                            <input readonly=readonly style="width:40px !important; " value=@Model.GPSCoordinateLat9 />
                        </td>
                        <td>

                            <input readonly=readonly style="width:40px !important; " value=@Model.GPSCoordinateLong9 />
                        </td>
                    </tr>
}
                                @if (Model.Gov10ID != null)
                {

                    <tr>
                        <td>@Model.Gov10</td>
                        <td>@Model.Dis10</td>
                        <td>
                            <input readonly=readonly style="width:40px !important; " value=@Model.GPSCoordinateLat10 />
                        </td>
                        <td>

                            <input readonly=readonly style="width:40px !important; " value=@Model.GPSCoordinateLong10 />
                        </td>
                    </tr>
}
                            </tbody>


                        </table>

                    </td>

                </tr>
}


                @if (!String.IsNullOrEmpty(@Model.HKMLocationType))
{

                <tr>
                    <td>HKM Location Type:</td>
                    <td>@Model.HKMLocationType</td>
                </tr>
}


                @if (!String.IsNullOrEmpty(@Model.Municipality))
{

                <tr>
                    <td>Municipality:</td>
                    <td>@Model.Municipality</td>
                </tr>
}


                @if (!String.IsNullOrEmpty(@Model.StatusDesc))
{

                <tr>
                    <td>Status:</td>
                    <td>@Model.StatusDesc</td>
                </tr>
}

                </table>
            </fieldset>
        </td>
        <td style="vertical-align:top">
            <fieldset>
                @*<legend>Details:</legend>*@
                <table class="table table-striped table-bordered table-condensed" style="width:400px">


                    @if (!String.IsNullOrEmpty(@Model.MainChallenges))
    {

                <tr>

                    <td>
                        Main Challenges:

                    </td>
                    <td>
                        @Model.MainChallenges

                    </td>

                </tr>


}

                    @if (!String.IsNullOrEmpty(@Model.MainFindings))
    {

                <tr>

                    <td>
                        Main Findings:

                    </td>
                    <td>
                        @Model.MainFindings

                    </td>

                </tr>


}

                    @if (!String.IsNullOrEmpty(@Model.IssuestoFollowUp))
    {

                <tr>

                    <td>
                        Issues for FollowUp:

                    </td>
                    <td>
                        @Model.IssuestoFollowUp

                    </td>

                </tr>


}

                    @if (!String.IsNullOrEmpty(@Model.ActionTakenbyFM))
    {

                <tr>

                    <td>
                        Action Taken by FM:

                    </td>
                    <td>
                        @Model.ActionTakenbyFM

                    </td>

                </tr>


}

                    @if (!String.IsNullOrEmpty(@Model.Details))
    {
                <tr>
                    <td>

                        @if (Model.RecordNumber.Contains("M"))
        {
                <div>Notes:</div>
}
                        @if (Model.RecordNumber.Contains("T"))
        {
                <div>Detailed Description of the issue:</div>
}






                    </td>
                    <td> <div>  @Html.Raw(Model.Details) </div></td>

                </tr>
}


                    @if (!String.IsNullOrEmpty(@Model.OtherFMOs))
    {
                <tr>
                    <td>


                        <div>Other FMOs in the Team:</div>


                    </td>
                    <td>


                        @HttpUtility.HtmlEncode(Model.OtherFMOs.Replace(",", "\r\n"))
                    </td>

                </tr>
}



                    @if ("01/01/1900" != System.Convert.ToDateTime(@Model.FollowUpDate).ToString("dd/MM/yyyy") && "01/01/0001" != System.Convert.ToDateTime(@Model.FollowUpDate).ToString("dd/MM/yyyy"))
    {

                <tr>

                    <td>
                        Follow-Up Date:

                    </td>
                    <td>

                        @System.Convert.ToDateTime(@Model.FollowUpDate).ToString("dd/MM/yyyy")

                    </td>

                </tr>


}


                    @if (!String.IsNullOrEmpty(@Model.ResponsibleUnitDesc))
    {

                <tr>

                    <td>
                        Responsible Unit:

                    </td>
                    <td>
                        @Model.ResponsibleUnitDesc

                    </td>

                </tr>


}
                @*@if (!String.IsNullOrEmpty(@Model.ResponsiblePersonDesc))
    {

        <tr>

            <td>
                Responsible Staff:

            </td>
            <td>
                @Model.ResponsiblePersonDesc

            </td>

        </tr>


    }*@
                    @if (!String.IsNullOrEmpty(@Model.SeverityDesc))
    {

                <tr>

                    <td>
                        Severity Ranking:

                    </td>
                    <td>
                        @Model.SeverityDesc



                    </td>

                </tr>


}
                @*<tr>
        <td>Shop Name:</td>
        <td>@Model.ShopName</td>
    </tr>*@

                    @if (!String.IsNullOrEmpty(@Model.Action))
    {
                <tr>
                    <td>Action Taken:</td>
                    <td>@Model.Action</td>
                </tr>
}

                    @if (!String.IsNullOrEmpty(@Model.Attachments))
    {

                <tr><td colspan="2">Attachments:</td></tr>

                <tr>

                    <td colspan="2">
                        <table style="width:auto;" border="1" cellpadding="5" cellspacing="5">
                            <tbody>
                                @for (int i = 0; i < @Model.Attachments.Split(',').Length; i++)
                {
                    <tr>

                        <td style="padding:4px;">

                            @(i + 1)

                        </td>


                        <td style="padding:4px;">
                            @if (@Model.Attachments.Split(',')[i].ToUpper().Contains("PDF"))
            {
                <a href="@Url.Content(string.Format("~/Attatchments/{0}", @Model.Attachments.Split(',')[i]))" target="_blank"><img src="~/Content/images/PDF.png" width="32" height="32" /></a>
}
else if (@Model.Attachments.Split(',')[i].ToUpper().Contains("DOC"))
{
                <a href="@Url.Content(string.Format("~/Attatchments/{0}",@Model.Attachments.Split(',')[i]))" target="_blank"><img src="~/Content/images/word.png" width="32" height="32" /></a>
}
else if (@Model.Attachments.Split(',')[i].ToUpper().Contains("DOCX"))
{
                <a href="@Url.Content(string.Format("~/Attatchments/{0}",@Model.Attachments.Split(',')[i]))" target="_blank"><img src="~/Content/images/word.png" width="32" height="32" /></a>
}
else if (@Model.Attachments.Split(',')[i].ToUpper().Contains("XLS"))
{
                <a href="@Url.Content(string.Format("~/Attatchments/{0}",@Model.Attachments.Split(',')[i]))" target="_blank"><img src="~/Content/images/excel.png" width="32" height="32" /></a>
}
else if (@Model.Attachments.Split(',')[i].ToUpper().Contains("XLSX"))
{
                <a href="@Url.Content(string.Format("~/Attatchments/{0}",@Model.Attachments.Split(',')[i]))" target="_blank"><img src="~/Content/images/excel.png" width="32" height="32" /></a>
}
else if (@Model.Attachments.Split(',')[i].ToUpper().Contains("JPG"))
{
                <a href="@Url.Content(string.Format("~/Attatchments/{0}",@Model.Attachments.Split(',')[i]))" target="_blank"><img src="~/Content/images/photo.png" width="32" height="32" /></a>
}
else if (@Model.Attachments.Split(',')[i].ToUpper().Contains("PNG"))
{
                <a href="@Url.Content(string.Format("~/Attatchments/{0}",@Model.Attachments.Split(',')[i]))" target="_blank"><img src="~/Content/images/photo.png" width="32" height="32" /></a>
}

                        </td>
                    </tr>
}
                            </tbody>
                        </table>
                    </td>
                </tr>
}

                </table>
            </fieldset>
        </td>
    </tr>
</table>