﻿
@{
    ViewBag.Title = "Create Own Report";
}

<link href="~/Content/css/csstable.css" rel="stylesheet" />
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->
        <!-- BEGIN THEME PANEL -->
        <!-- END THEME PANEL -->
        @*<h3 class="page-title">
            Log Book :: Create Own Report
            <small>Log Book reports</small>
        </h3>*@
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href="/LogBook">Home</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <span>Create Own Report</span>
                </li>
            </ul>
        </div>
        <!-- END PAGE HEADER-->
        <!-- END CONTENT BODY -->
        <div class="row">
            <iframe src="~/Content/CustomReport.html" frameborder="0" style="width:100%;height:600px"></iframe>
        </div>
    </div>
</div>
