﻿
@{
    ViewBag.Title = "Detailed Report";
}
<link href="~/Content/css/bootstrap-multiselect.css" rel="stylesheet" />
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <h2>Detailed Report</h2>
        <div id="filters">
            <form id="form1" method="post" action="~/Reports/ShowDetailedReport">
                <table>
                    <tr>
                        <td valign="top">
                            <table>
                                <tr>
                                    <td>Record Type:</td>
                                    <td>@Html.ListBox("RecordType", (IEnumerable<SelectListItem>)ViewBag.RecordType, new { @class = "form-control multiselect" })</td>
                                </tr>
                                <tr>
                                    <td>Category:</td>
                                    <td>@Html.ListBox("Category", (IEnumerable<SelectListItem>)ViewBag.Category, new { @class = "form-control multiselect" })</td>
                                </tr>
                                <tr>
                                    <td>Monitoring Activity::</td>
                                    <td>@Html.ListBox("MonitoringActivity", (IEnumerable<SelectListItem>)ViewBag.MonitoringActivity, new { @class = "form-control multiselect" })</td>
                                </tr>
                                <tr>
                                    <td>Created on (From):</td>
                                    <td><input type="text" data-provide="datepicker" class="form-control datepicker" autocomplete="off" id="CreatedFrom" name="CreatedFrom" /></td>
                                </tr>
                                <tr>
                                    <td>Created on (To):</td>
                                    <td><input type="text" class="form-control datepicker" autocomplete="off" id="CreatedTo" name="CreatedTo" /></td>
                                </tr>
                                <tr>
                                    <td>Program:</td>
                                    <td>@Html.ListBox("Program", (IEnumerable<SelectListItem>)ViewBag.Program, new { @class = "form-control multiselect" })</td>
                                </tr>
                            </table>
                        </td>
                        <td valign="top">
                            <table>
                                <tr>
                                    <td>Sub Program:</td>
                                    <td>@Html.ListBox("SubProgram", (IEnumerable<SelectListItem>)ViewBag.SubProgram, new { @class = "form-control multiselect" })</td>
                                </tr>
                                <tr>
                                    <td>Severity:</td>
                                    <td>@Html.ListBox("Severity", (IEnumerable<SelectListItem>)ViewBag.Severity, new { @class = "form-control multiselect" })</td>
                                </tr>
                                <tr>
                                    <td>Status:</td>
                                    <td>@Html.ListBox("Status", (IEnumerable<SelectListItem>)ViewBag.Status, new { @class = "form-control multiselect" })</td>
                                </tr>
                                <tr>
                                    <td>Date Closed (From):</td>
                                    <td><input type="text" autocomplete="off" class="form-control datepicker" id="DateClosedFrom" name="DateClosedFrom" /></td>
                                </tr>
                                <tr>
                                    <td>Date Closed (To):</td>
                                    <td><input type="text" autocomplete="off" class="form-control datepicker" id="DatedClosedTo" name="DateClosedTo" /></td>
                                </tr>
                                <tr>
                                    <td>Governorate:</td>
                                    <td>@Html.ListBox("Governorate", (IEnumerable<SelectListItem>)ViewBag.Governorate, new { @class = "form-control multiselect" })</td>
                                </tr>
                            </table>
                        </td>
                        <td valign="top">
                            <table>
                                <tr>
                                    <td>District:</td>
                                    <td>@Html.ListBox("District", (IEnumerable<SelectListItem>)ViewBag.District, new { @class = "form-control multiselect" })</td>
                                </tr>
                                <tr>
                                    <td>Municipality:</td>
                                    <td>@Html.ListBox("Municipality", (IEnumerable<SelectListItem>)ViewBag.Municipality, new { @class = "form-control multiselect" })</td>
                                </tr>
                                <tr>
                                    <td>Responsible Unit:</td>
                                    <td>@Html.ListBox("ResponsibleUnit", (IEnumerable<SelectListItem>)ViewBag.ResponsibleUnit, new { @class = "form-control multiselect" })</td>
                                </tr>
                                <tr>
                                    <td>Forms:</td>
                                    <td>
                                        <select id="Forms" multiple="multiple" name="Forms" class="form-control multiselect">
                                            <option value="PDM">PDM</option>
                                            <option value="PAB">PAB</option>
                                            <option value="SCI">SCI</option>
                                            <option value="Activity Report">Activity Report</option>
                                            <option value="ABI">ABI</option>
                                            <option value="Camp Checklist DB">Camp Checklist DB</option>
                                            <option value="HC Checklist DB">HC Checklist DB</option>
                                            <option value="HK Principle">HK Principle</option>
                                            <option value="HK Kitchen">HK Kitchen</option>
                                            <option value="HK Students">HK Students</option>
                                        </select>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        </tr>
                    </table>
                <input type="submit"  class="btn btn-primary" value="Show Report" />
            </form>
        </div>
    </div>
</div>
<div id="loading" style="display:none"><img src="~/Content/images/download.gif" /></div>
<div id="results" style="display:none"></div>
<script src="~/Content/js/bootstrap-multiselect.js"></script>
<link href="~/Content/css/jquery-ui-1.11.4.css" rel="stylesheet" />
<script src="~/Content/js/jquery-ui-1.11.4.js"></script>
<script>
    $(function () {
        $('.multiselect').multiselect({
            includeSelectAllOption: true
        });
        $(".datepicker").datepicker({
            dateFormat: 'yy-mm-dd'
        });
    });
    function showReport() {
        $("#loading").show();
        var url = "/LogBook/ShowDetailedReport";
        var RecordType = $.map($(':checkbox[name=RecordType\\[\\]]:checked'), function (n, i) {
            return n.value.split(",")[1];
        }).join(',');
        console.log(RecordType);
        return;
        $.ajax({
            url: url,
            method: "POST",
            data: {
                RecordType: RecordType,
                Category: Category,
                MonitoringActivity: MonitoringActivity,
                CreatedFrom: CreatedFrom,
                CreatedTo: CreatedTo,
                Program: Program,
                SubProgram: SubProgram,
                Severity: Severity,
                Status: Status,
                DateClosedFrom: DateClosedFrom,
                DateClosedTo: DateClosedTo,
                Governorate: Governorate,
                District: District,
                Municipality: Municipality,
                ResponsibleUnit: ResponsibleUnit,
                Forms: Forms
            },
            success: function (response) {
                $("#results").html(data);
                $("#results").show();
                $("#loading").hide();
            },
            error: function () {
                alert("Error. Couldn't retrieve report");
            }
        });
    }
</script>
