﻿
@{
    ViewBag.Title = "Index";
}
<link href="~/Content/css/csstable.css" rel="stylesheet" />
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->
        <!-- BEGIN THEME PANEL -->
        <!-- END THEME PANEL -->
        <h3 class="page-title">
            Log Book :: Reports
            <small>Log Book reports</small>
        </h3>
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href="/LogBook">Home</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <span>Reports</span>
                </li>
            </ul>
        </div>
        <!-- END PAGE HEADER-->
        <!-- END CONTENT BODY -->
        <div class="row">
            <div class="col-sm-4 col-md-3" style="background-color:gainsboro;border-radius:5px;padding-top:10px;padding-bottom:10px">
                <form name="form1" id="form1">
                    <table>
                        <tr>
                            <td><strong>From:</strong></td>
                            <td><input name="date_from" type="date" class="form-control datepicker" /></td>
                        </tr>
                        <tr>
                            <td><strong>To:</strong></td>
                            <td><input name="date_to" type="date" class="form-control datepicker" /></td>
                        </tr>
                    </table>
                </form>
                <ul>
                    <li><a href="javascript:showReport(1)">Open Records by Age</a></li>
                    <li><a href="javascript:showReport(2)">Calls by status</a></li>
                    <li><a href="javascript:showReport(3)">Calls by purpose</a></li>
                    <li><a href="javascript:showReport(4)">Shop related calls</a></li>
                    <li><a href="javascript:showReport(5)">Protection related calls</a></li>
                    <li><a href="javascript:showReport(6)">E-card related calls</a></li>
                    <li><a href="javascript:showReport(7)">Calls by governorate</a></li>
                    <li><a href="javascript:showReport(8)">Referral calls</a></li>
                </ul>
            </div>
            <div class="col-sm-8 col-md-9" id="results">
            </div>
        </div>
    </div>
</div>
<div id="details">

</div>
<script>
    function showReport(id) {
        var date_from = form1.date_from.value != null && form1.date_from.value != ""?formatDate(form1.date_from.value):"";
        var date_to = form1.date_to.value != null && form1.date_to.value != "" ? formatDate(form1.date_to.value) : "";
        var url = "/LogBook/Reports/ShowReport/" + id+"?date_from="+date_from+"&date_to="+date_to;
        $.get(url, function (data, status) {
            $("#results").html(data);
        });
    }
    function formatDate(date) {
        var d = new Date(date),
            month = '' + (d.getMonth() + 1),
            day = '' + d.getDate(),
            year = d.getFullYear();

        if (month.length < 2) month = '0' + month;
        if (day.length < 2) day = '0' + day;

        return [year, month, day].join('-');
    }
</script>