﻿@using System.Data;
@{
    Layout = null;
}

<script src="~/Content/js/bootstrap-dialog.js"></script>
<link href="~/Content/css/bootstrap-dialog.min.css" rel="stylesheet" />
<div class="csstable">
    <table>
        <tr>
            <td>Description</td>
            <td>Number</td>
            <td>Percent</td>
        </tr>
    @{foreach (DataRow row in ((DataTable)(ViewBag.Data)).Rows)
        {
            <tr>
                <td>@row[1].ToString()</td>
                <td class="number"><a href="javascript:showDetails(@row[0].ToString())">@row[2].ToString()</a></td>
                <td class="number">@Math.Round(float.Parse(row[3].ToString()),2)%</td>
            </tr>
            }
        }
    </table>
</div>
<style>
    .login-dialog .modal-dialog {
        width: 850px;
    }
</style>

<script>
    function showDetails(itemid) {
        var date_from = form1.date_from.value != null && form1.date_from.value != "" ? formatDate(form1.date_from.value) : "";
        var date_to = form1.date_to.value != null && form1.date_to.value != "" ? formatDate(form1.date_to.value) : "";
        url = '/LogBook/Content/expand.html?criteria=' +@(ViewBag.ReportId) +'|' + itemid + '&date_from=' + date_from + '&date_to=' + date_to;
        debugger;
        var dialog=new BootstrapDialog.show({
            title: 'Record Details',
            cssClass: 'login-dialog',
            message: $('<iframe src="'+url+'" height="500" width="800" frameborder="0"></iframe>')
        });
    }
    function formatDate(date) {
        var d = new Date(date),
            month = '' + (d.getMonth() + 1),
            day = '' + d.getDate(),
            year = d.getFullYear();

        if (month.length < 2) month = '0' + month;
        if (day.length < 2) day = '0' + day;

        return [year, month, day].join('-');
    }
</script>
