﻿@{
    ViewBag.Title = "Detailed Report";
}
<script src="/LogBook/Content/js/jquery.dataTables.min.js"></script>
<link href="/LogBook/Content/css/jquery.dataTables.css" rel="stylesheet" />
<link href="~/Content/css/csstable.css" rel="stylesheet" />
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <div class="csstable-details">
            <form method="post" action="ExportDetailedReport">
                <input type="hidden" name="filter" value="@ViewBag.Filter" />
                <input type="button" onclick="exportReport()" class="btn btn-primary" value="Export to Excel" />
            </form>
            <div id='loadingmessage' style='display: none; position:fixed; width: 100%; text-align: left;top: 50%; z-index:9999;
                left: 50%;
                margin-left:-70px;
                margin-top:-50px'>
                <img src='~/Content/images/download.gif' />
            </div>
            @Html.Raw(ViewBag.ReportHTML)
        </div>
    </div>
</div>
<script>
    String.prototype.replaceAll = function (search, replacement) {
        var target = this;
        return target.split(search).join(replacement);
    };
    $('tr').each(function () {
        //Align numbers to the right
        $(this).children('td:gt(0)').filter(function () {
            var cond1 = this.innerHTML.match(/^[0-9\s\.,]+$/);
            if (cond1) {
                $(this).css('text-align', 'right');
                $(this).html(Number($(this).html()).toLocaleString('en'));
            }
        });
    });
    $("#report-table").DataTable();
    function exportReport() {
        $('#loadingmessage').show();
        var serializedData = $("form").serialize();
        debugger;
        $.ajax({
            url: "/LogBook/Reports/ExportDetailedReport",
            dataType: 'JSON',
            type: "post",
            data: serializedData,
            success: function (response) {
                debugger;
                if (response.status == "200") {
                    location.href = "/LogBook/Content/Downloads/" + response.StatusMessage;
                    $('#loadingmessage').hide();
                }
                else {
                    $('#loadingmessage').html(response.StatusMessage);
                }
            },
            error: function (xhr, status, error) {
                debugger;
                $('#loadingmessage').html(xhr.responseText);
                alert("An error has occurred when creating the Excel file");
            }
        });
    }
</script>