﻿
<table class="table table-bordered table-striped">
    <tr style="background-color:#ccc">
        <td>#</td>
        <td>Captured By</td>
        <td>Office</td>
        <td>Beneficiary ID</td>
        <td>Location</td>
        <td>Beneficiary Phone</td>
        <td>Date of Data Capturing</td>
        <td>Request Reason</td>
        <td>Status</td>
        <td>Form</td>
        <td>Age in Stage</td>
        <td>Overall Age</td>
        <td>Action</td>
        <td></td>
    </tr>
    <tr>
        <td>1</td>
        <td>Ahmad Al Momani</td>
        <td>Amman SO</td>
        <td>165-13C00023</td>
        <td>Amman</td>
        <td>+962796123456</td>
        <td>2019-02-04 11:25:40</td>
        <td>Card Swallowed</td>
        <td><span class="label label-info">Pending</span></td>
        <td>20190129_194541.jpg</td>
        <td></td>
        <td></td>
        <td>
            <a href="#">Eligible</a>
        </td>
        <td>
            <a href="#">Not Eligible</a>
        </td>
    </tr>
    <tr>
        <td>2</td>
        <td>Oroub Eneim </td>
        <td>ACTED</td>
        <td>165-13C00041</td>
        <td>Amman</td>
        <td>+962796123456</td>
        <td>2019-02-04 11:25:22</td>
        <td>Card Lost</td>
        <td><span class="label label-danger">In Progress</span></td>
        <td>20190129_194541.jpg</td>
        <td></td>
        <td></td>
        <td>
            <a href="#">Eligible</a>
        </td>
        <td>
            <a href="#">Not Eligible</a>
        </td>
    </tr>
    <tr>
        <td>3</td>
        <td>HADEEL</td>
        <td>SCJ</td>
        <td>165-13C00087</td>
        <td>Amman</td>
        <td>+962796123456</td>
        <td>2019-02-04 11:25:15</td>
        <td>Card Stolen</td>
        <td><span class="label label-success">Completed</span></td>
        <td>20190129_194541.jpg</td>
        <td></td>
        <td></td>
        <td>
            <a href="#">Eligible</a>
        </td>
        <td>
            <a href="#">Not Eligible</a>
        </td>
    </tr>
    <tr>
        <td>4</td>
        <td>Zeena</td>
        <td>Mafraq SO</td>
        <td>165-13C00106</td>
        <td>Amman</td>
        <td>+962796123456</td>
        <td>2019-02-04 11:25:10</td>
        <td>New Issuance</td>
        <td><span class="label label-info">Pending</span></td>
        <td>20190129_194541.jpg</td>
        <td></td>
        <td></td>
        <td>
            <a href="#">Eligible</a>
        </td>
        <td>
            <a href="#">Not Eligible</a>
        </td>
    </tr>
    <tr>
        <td>5</td>
        <td>Ahmad Al Momani</td>
        <td>Amman SO</td>
        <td>165-13C00107</td>
        <td>Amman</td>
        <td>+962796123456</td>
        <td>2019-02-04 11:25:03</td>
        <td>Card Swallowed</td>
        <td><span class="label label-info">Pending</span></td>
        <td>20190129_194541.jpg</td>
        <td></td>
        <td></td>
        <td>
            <a href="#">Eligible</a>
        </td>
        <td>
            <a href="#">Not Eligible</a>
        </td>
    </tr>
    <tr>
        <td>7</td>
        <td>HADEEL</td>
        <td>SCJ</td>
        <td>165-13C00160</td>
        <td>Amman</td>
        <td>+962796123456</td>
        <td>2019-02-04 11:24:52</td>
        <td>Card Stolen</td>
        <td><span class="label label-info">Pending</span></td>
        <td>20190129_194541.jpg</td>
        <td></td>
        <td></td>
        <td>
            <a href="#">Eligible</a>
        </td>
        <td>
            <a href="#">Not Eligible</a>
        </td>
    </tr>
    <tr>
        <td>8</td>
        <td>Zeena</td>
        <td>Mafraq SO</td>
        <td>165-13C00244</td>
        <td>Amman</td>
        <td>+962796123456</td>
        <td>2019-02-04 11:24:29</td>
        <td>New Issuance</td>
        <td><span class="label label-info">Pending</span></td>
        <td>20190129_194541.jpg</td>
        <td></td>
        <td></td>
        <td>
            <a href="#">Eligible</a>
        </td>
        <td>
            <a href="#">Not Eligible</a>
        </td>
    </tr>
    <tr>
        <td>9</td>
        <td>Ahmad Al Momani</td>
        <td>Amman SO</td>
        <td>165-13C00250</td>
        <td>Amman</td>
        <td>+962796123456</td>
        <td>2019-02-04 11:24:18</td>
        <td>Card Swallowed</td>
        <td><span class="label label-info">Pending</span></td>
        <td>20190129_194541.jpg</td>
        <td></td>
        <td></td>
        <td>
            <a href="#">Eligible</a>
        </td>
        <td>
            <a href="#">Not Eligible</a>
        </td>
    </tr>
    <tr>
        <td>10</td>
        <td>Oroub Eneim </td>
        <td>ACTED</td>
        <td>165-13C00278</td>
        <td>Amman</td>
        <td>+962796123456</td>
        <td>2019-02-04 11:24:07</td>
        <td>Card Lost</td>
        <td><span class="label label-info">Pending</span></td>
        <td>20190129_194541.jpg</td>
        <td></td>
        <td></td>
        <td>
            <a href="#">Eligible</a>
        </td>
        <td>
            <a href="#">Not Eligible</a>
        </td>
    </tr>
</table>