﻿.csstable table{
    border-collapse: collapse;
    border-spacing: 0;
	height:100%;
	margin:0px;
    padding:0px;
    border:1px solid #4472c4
}
.csstable tr:nth-child(odd){ background-color:#d9e2f3; }
.csstable tr:nth-child(even)    { background-color:#ffffff; }.csstable td{
	vertical-align:middle;
	border:1px solid #4472c4;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:7px;
	font-size:14px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}.csstable tr:last-child td{
	border-width:0px 1px 0px 0px;
}.csstable tr td:last-child{
	border-width:0px 0px 1px 0px;
}.csstable tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.csstable tr:first-child td{
	background:-o-linear-gradient(bottom, #4472c4 5%, #090d89 100%);	
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #4472c4), color-stop(1, #090d89) );
	background:-moz-linear-gradient( center top, #4472c4 5%, #090d89 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#4472c4", endColorstr="#090d89");	
    background: -o-linear-gradient(top,#4472c4,090d89);
	background-color:#4472c4;
	border:0px solid #4472c4;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Calibri,Arial,sans-serif;
	font-weight:bold;
	color:#ffffff;
}
.csstable tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #4472c4 5%, #090d89 100%);	
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #4472c4), color-stop(1, #090d89) );
	background:-moz-linear-gradient( center top, #4472c4 5%, #090d89 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#4472c4", endColorstr="#090d89");	
    background: -o-linear-gradient(top,#4472c4,090d89);
	background-color:#4472c4;
}
.csstable tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.csstable tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}
.csstable tr:first-child th{
	background:-o-linear-gradient(bottom, #4472c4 5%, #090d89 100%);	
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #4472c4), color-stop(1, #090d89) );
	background:-moz-linear-gradient( center top, #4472c4 5%, #090d89 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#4472c4", endColorstr="#090d89");	
    background: -o-linear-gradient(top,#4472c4,090d89);
	background-color:#4472c4;
	border:0px solid #4472c4;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Calibri,Arial,sans-serif;
	font-weight:bold;
	color:#ffffff;
}
.csstable-details table{
    border-collapse: collapse;
    border-spacing: 0;
	height:100%;
	margin:0px;
    padding:0px;
    border:1px solid #4472c4
}
.csstable-details tr:nth-child(odd){ background-color:#d9e2f3; }
.csstable-details tr:nth-child(even)    { background-color:#ffffff; }.csstable-details td{
	vertical-align:middle;
	border:1px solid #4472c4;
	border-width:0px 1px 1px 0px;
	text-align:right;
	padding:7px;
	font-size:12px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}.csstable-details tr:last-child td{
	border-width:0px 1px 0px 0px;
}.csstable-details tr td:last-child{
	border-width:0px 0px 1px 0px;
}.csstable-details tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.csstable-details tr:first-child th{
	background:-o-linear-gradient(bottom, #4472c4 5%, #090d89 100%);	
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #4472c4), color-stop(1, #090d89) );
	background:-moz-linear-gradient( center top, #4472c4 5%, #090d89 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#4472c4", endColorstr="#090d89");	
    background: -o-linear-gradient(top,#4472c4,090d89);
	background-color:#4472c4;
	border:0px solid #4472c4;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:12px;
	font-family:Calibri,Arial,sans-serif;
	font-weight:bold;
	color:#ffffff;
}
.greybg {
    background-color:#ebebeb;
}
.csstable td.number {
    text-align:right;
}
.details {
    font-size: 12px;
    font-family: Calibri,Arial,Verdana,sans-serif;
    /*width: 400px; */
    display: none
}
.vrl_details {
    font-size: 12px;
    font-family: Calibri,Arial,Verdana,sans-serif;
    display: none
}
.green-btn {
  background: #32c752;
  background-image: -webkit-linear-gradient(top, #32c752, #19540a);
  background-image: -moz-linear-gradient(top, #32c752, #19540a);
  background-image: -ms-linear-gradient(top, #32c752, #19540a);
  background-image: -o-linear-gradient(top, #32c752, #19540a);
  background-image: linear-gradient(to bottom, #32c752, #19540a);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  text-shadow: 1px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 14px;
  padding: 6px 30px 6px 30px;
  text-decoration: none;
}

.green-btn:hover {
  background: #88eb8c;
  background-image: -webkit-linear-gradient(top, #88eb8c, #47b84f);
  background-image: -moz-linear-gradient(top, #88eb8c, #47b84f);
  background-image: -ms-linear-gradient(top, #88eb8c, #47b84f);
  background-image: -o-linear-gradient(top, #88eb8c, #47b84f);
  background-image: linear-gradient(to bottom, #88eb8c, #47b84f);
  text-decoration: none;
}
.file-details {
    font-family: Calibri,Arial,Verdana,sans-serif;
    display: none
}