.tile-title{
	text-align:center;
	font-size:40px;
	font-weight:bold;
	color:white;
}
.tile-subtext{
	text-align:center;
	font-size:16px;
	font-weight:bold;
	color:white;
}
.alt{
	background-color:yellow;
}
.greybg{
	background-color:gainsboro;
}
.orangebg{
	background-color:#FC0;
}
.smallfont{
	font-size:12px;
}
.short-text{
	width:200px;
}
.decimals{
	width:40px;
	text-align:right;
}
.mainmenu{
	display: block;
	background-color:#f7fafe;
	padding:10px;
	border:1px solid #cccccc;
	border-radius:5px;
	text-align:left;
	z-index:9999;
}
.menuitem{
	border-bottom: 1px solid #cccccc;
	display: block;
}
.menuitem a{
	width:60px;
}