﻿
@{
    Layout = null;
}

<form id="form1" name="form1" method="post" action="update_data" enctype="multipart/form-data">
    <table>
        <tr>
            <td style="vertical-align:top">
                <table class="table table-striped table-bordered" style="width:380px">
                    <tr>
                        <td>Partner Name:<span class="required">*</span></td>
                        <td>@Html.DropDownList("Partner", (IEnumerable<SelectListItem>)ViewBag.Partner, new { @class = "form-control", @onchange = "changePartner()" })</td>
                    </tr>
                    <tr>
                        <td style="width:200px">Governorate:<span class="required">*</span></td>
                        <td>
                            <select class="form-control" id="Governorate" name="Governorate" onchange="filterCBO()">
                                <option value=""></option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>CBO:</td>
                        <td>
                            <select class="form-control" id="CBO" name="CBO">
                                <option value=""></option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:200px">Case ID:<span class="required">*</span></td>
                        <td>
                            <input type="text" autocomplete="off" name="CaseNumber" id="CaseNumber" class="form-control" onblur="checkAvailability(this.value)" />
                            <span id="status"></span>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:200px">Case Phone Number:<span class="required">*</span></td>
                        <td>
                            <input type="text" autocomplete="off" name="PhoneNumber" id="PhoneNumber" class="form-control" />
                        </td>
                    </tr>
                    <tr>
                        <td style="width:200px">Gender:<span class="required">*</span></td>
                        <td>
                            <select id="Gender" name="Gender" class="form-control">
                                <option value=""></option>
                                <option value="1">Male</option>
                                <option value="2">Female</option>
                            </select>                        
                        </td>
                    </tr>
                </table>
            </td>
            <td style="vertical-align:top">
                <table class="table table-striped table-bordered" style="width:380px">
                    <tr>
                        <td style="width:160px">Category:<span class="required">*</span></td>
                        <td>
                            @Html.DropDownList("Category", (IEnumerable<SelectListItem>)ViewBag.Category, new { @class = "form-control", @onchange = "changeCategory(this.options[this.selectedIndex].value)" })
                        </td>
                    </tr>
                    <tr id="SubCategory-tr" class="optional">
                        <td>Sub category:<span class="required">*</span></td>
                        <td>
                            <select class="form-control" id="SubCategory" name="SubCategory" onchange="changeSubcategory()">
                                <option value=""></option>
                            </select>
                        </td>
                    </tr>
                    <tr id="ReplacementRequired-tr" class="optional">
                        <td>Card Replacement Required:<span class="required">*</span></td>
                        <td>
                            <select id="ReplacementRequired" name="ReplacementRequired" class="form-control">
                                <option value=""></option>
                                <option value="1">Yes</option>
                                <option value="2">No</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:200px">Details:<span class="required">*</span></td>
                        <td>
                            <textarea name="Details" id="Details" class="form-control"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>Addressed on Spot:<span class="required">*</span></td>
                        <td>
                            <select id="AddressedOnSpot" name="AddressedOnSpot" class="form-control" onchange="changeAddressedOnSpot()">
                                <option value=""></option>
                                <option value="1">Yes</option>
                                <option value="2">No</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Status:<span class="required">*</span></td>
                        <td>
                            @Html.DropDownList("Status", (IEnumerable<SelectListItem>)ViewBag.Status, new { @class = "form-control" })
                        </td>
                    </tr>
                    <tr>
                        <td>Responsible Unit:</td>
                        <td>
                            <select class="form-control" id="ResponsibleUnit" name="ResponsibleUnit">
                                <option value=""></option>
                            </select>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <div id="message" style="color:red"></div>
    <div id="RecordNumber" style="color:red"></div>
    <div id="myRecords" style="color:green">Number of my Records today: @ViewBag.MyRecords</div>
    <input type="hidden" name="act" />
    <input type="hidden" name="RecordNumber" />
    <input type="hidden" name="Staff" id="Staff" value="@Session["Username"]" />
    <div style="text-align:center">
        <input class="btn btn-success" type="button" name="savenew" id="savenew" value="Save and New" style="width:150px" onclick="saveRecord(false)">
        <input class="btn btn-warning" type="button" name="saveclose" id="saveclose" value="Save and Close" style="width:150px" onclick="saveRecord(true)">
        <input class="btn btn-danger" type="button" name="cancel" id="cancel" value="Cancel" style="width:150px" onclick="hideForm()">
        <input type="hidden" name="SavedRecordID" id="SavedRecordID" value="-1" />
    </div>
</form>