﻿
@{
    ViewBag.Title = "Index";
}
<link href="~/Content/css/csstable.css" rel="stylesheet" />
 <!-- Range Slider CSS-->
<link href="Content/assets/global/plugins/ion.rangeSlider/css/normalize.css" rel="stylesheet" />
<link href="Content/assets/global/plugins/ion.rangeSlider/css/ion.rangeSlider.css" rel="stylesheet" />
<link href="Content/assets/global/plugins/ion.rangeSlider/css/ion.rangeSlider.skinHTML5.css" rel="stylesheet" />

<style>
    #container {
        width: 1000px;
        height: 1000px;
        margin: 0 auto;
    }

    .loading {
        margin-top: 10em;
        text-align: center;
        color: gray;
    }
</style>







<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->
        <!-- BEGIN THEME PANEL -->
        <!-- END THEME PANEL -->
        @*<h3 class="page-title">
            Log Book :: Reports
            <small>Log Book reports</small>
        </h3>*@
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href="/LogBook">Home</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <span>Data Visualisation</span>
                </li>
            </ul>
        </div>
       
        <script type='text/javascript' src='https://analytics.wfp.org/javascripts/api/viz_v1.js'></script><div class='tableauPlaceholder' style='width: 1920px; height: 813px;'><object class='tableauViz' width='1920' height='813' style='display:none;'><param name='host_url' value='https%3A%2F%2Fanalytics.wfp.org%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='Logbook-Dashboards&#47;ByMonthbyUser' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='showAppBanner' value='false' /><param name='filter' value='iframeSizedToWindow=true' /></object></div>

        
        <div class="row">
            <!--<input id="range_01" />-->
            <div id="container"></div>
        </div>
    </div>
</div>



