﻿
@{
    Layout = null;
}
<style>
    #container {
        width:1000px;
        height:1000px;
        margin: 0 auto; 
    }
    .loading {
        margin-top: 10em;
        text-align: center;
        color: gray;
    }
</style>

<div id="container"></div>
<script src="~/Content/js/jquery-1.11.2.min.js"></script>
<script src="https://code.highcharts.com/maps/highmaps.js"></script>
<script src="https://code.highcharts.com/maps/modules/exporting.js"></script>
<script src="https://code.highcharts.com/mapdata/countries/jo/jo-all.js"></script>

<script>
    $(function () {
        var data = @Html.Raw(ViewBag.Data);

        // Initiate the chart
        $('#container').highcharts('Map', {
            title: {
                text: 'Log Book Records by Governorate'
            },

            subtitle: {
                text: 'The map shows number of Records recorded by the Log Book grouped by Governorate'
            },

            mapNavigation: {
                enabled: true,
                buttonOptions: {
                    verticalAlign: 'bottom'
                }
            },

            colorAxis: {
                min: 0
            },

            series: [{
                data: data,
                mapData: Highcharts.maps['countries/jo/jo-all'],
                joinBy: 'hc-key',
                name: 'Random data',
                states: {
                    hover: {
                        color: '#a4edba'
                    }
                },
                color: {
                    radialGradient: { cx: 0.5, cy: 0.5, r: 0.5 },
                    stops: [
                       [0, '#003399'],
                       [1, '#3366AA']
                    ]
                },
                dataLabels: {
                    enabled: true,
                    format: '{point.name}'
                }
            }]
        });
    });
</script>