﻿@{
    ViewBag.Title = "WFP Jordan Hotline Recording System";
}

<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->
        <!-- BEGIN THEME PANEL -->

        <!-- END THEME PANEL -->
        @*<h3 class="page-title">
            Dashboard
            <small>dashboard & statistics</small>
        </h3>*@
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href="/LogBook">Home</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <span>Dashboard</span>
                </li>
            </ul>

        </div>
        <!-- END PAGE HEADER-->
        <!-- BEGIN DASHBOARD STATS 1-->
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="dashboard-stat blue">
                    <div class="visual">
                        <i class="fa fa-comments"></i>
                    </div>
                    <div class="details">
                        <div class="number">
                            <span data-counter="counterup" data-value="@(ViewBag.OpenRecords)">0</span>
                        </div>
                        <div class="desc"> Open Tickets </div>
                    </div>
                    <a class="more" href="javascript:;">
                        View more
                        <i class="m-icon-swapright m-icon-white"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="dashboard-stat blue">
                    <div class="visual">
                        <i class="fa fa-bar-chart-o"></i>
                    </div>
                    <div class="details">
                        <div class="number">
                            <span data-counter="counterup" data-value="@(ViewBag.AllRecords)">0</span>
                        </div>
                        <div class="desc"> All Records </div>
                    </div>
                    <a class="more" href="javascript:;">
                        View more
                        <i class="m-icon-swapright m-icon-white"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="dashboard-stat blue">
                    <div class="visual">
                        <i class="fa fa-shopping-cart"></i>
                    </div>
                    <div class="details">
                        <div class="number">
                            <span data-counter="counterup" data-value="@(ViewBag.Tickets)">0</span>
                        </div>
                        <div class="desc"> Tickets </div>
                    </div>
                    <a class="more" href="javascript:;">
                        View more
                        <i class="m-icon-swapright m-icon-white"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="dashboard-stat blue">
                    <div class="visual">
                        <i class="fa fa-globe"></i>
                    </div>
                    <div class="details">
                        <div class="number">
                            <span data-counter="counterup" data-value="@(ViewBag.MonitoringNotes)"></span>
                        </div>
                        <div class="desc"> Monitoring Notes </div>
                    </div>
                    <a class="more" href="javascript:;">
                        View more
                        <i class="m-icon-swapright m-icon-white"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <!-- END DASHBOARD STATS 1-->
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <!-- BEGIN PORTLET-->
                <div class="portlet light ">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-bar-chart font-green"></i>
                            <span class="caption-subject font-green bold uppercase">All Records</span>
                            <span class="caption-helper">periodic stats...</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                         <table class="table table-striped table-hover">
                             <tr>
                                 <th>Period</th>
                                 <th>Number of Records</th>
                             </tr>
                             <tr>
                                 <td>Today</td>
                                 <td>@(ViewBag.PeriodicReport["today"])</td>
                             </tr>
                             <tr>
                                 <td>Yesterday</td>
                                 <td>@(ViewBag.PeriodicReport["yesterday"])</td>
                             </tr>
                             <tr>
                                 <td>This Week</td>
                                 <td>@(ViewBag.PeriodicReport["week"])</td>
                             </tr>
                             <tr>
                                 <td>This Month</td>
                                 <td>@(ViewBag.PeriodicReport["month"])</td>
                             </tr>
                             <tr>
                                 <td>This Year</td>
                                 <td>@(ViewBag.PeriodicReport["year"])</td>
                             </tr>
                             <tr>
                                 <td>All Records</td>
                                 <td>@(ViewBag.PeriodicReport["all"])</td>
                             </tr>
                         </table>
                    </div>
                </div>
                <!-- END PORTLET-->
            </div>
            <div class="col-md-6 col-sm-6">
                <!-- BEGIN PORTLET-->
                <div class="portlet light ">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-share font-red-sunglo hide"></i>
                            <span class="caption-subject font-red-sunglo bold uppercase">Records By Month</span>
                            <span class="caption-helper">monthly stats...</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div id="month_report_content">
                            <div id="chartdiv" style="height: 270px;">
                                
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END PORTLET-->
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="portlet light ">
                    <div class="portlet-title tabbable-line">
                        <div class="caption">
                            <i class="icon-bubbles font-red"></i>
                            <span class="caption-subject font-red bold uppercase">Report by Governorate</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div id="governoratediv" style="height: 270px;">
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="col-md-6 col-sm-6">
                <div class="portlet light ">
                    <div class="portlet-title tabbable-line">
                        <div class="caption">
                            <i class="icon-social-twitter font-green"></i>
                            <span class="caption-subject font-green bold uppercase">Gender Report</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div id="genderdiv" style="height: 270px;">

                        </div>
                    </div>
                </div>
            </div>*@
        </div>
    </div>
    <!-- END CONTENT BODY -->
</div>
    <!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="~/Content/assets/global/plugins/moment.min.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/morris/morris.min.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/morris/raphael-min.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/counterup/jquery.waypoints.min.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/counterup/jquery.counterup.min.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/amcharts/amcharts/amcharts.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/amcharts/amcharts/serial.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/amcharts/amcharts/pie.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/amcharts/amcharts/radar.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/amcharts/amcharts/themes/light.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/amcharts/amcharts/themes/patterns.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/amcharts/amcharts/themes/chalk.js" type="text/javascript"></script>
<script src="~/Content/assets/global/plugins/amcharts/amstockcharts/amstock.js" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->

<script>
    var chartData = @(Html.Raw(ViewBag.MonthlyReport));
    AmCharts.makeChart("chartdiv", {
        "type": "serial",
        "dataProvider": chartData,
        "categoryField": "Month",
        "startDuration": 1,
        "startEffect": "bounce",
        "categoryAxis": {
            "gridPosition": "start",
            "axisAlpha":0,
            "tickLength":0,
            "labelRotation":45,
            "minorGridEnabled": true,
            "minHorizontalGap": 0
        },
        "graphs": [{
            "title": "Number of Records",
            "valueField": "Number",
            "bullet": "round",
            "bulletBorderColor": "#FFFFFF",
            "bulletBorderThickness": 2,
            "lineThickness": 2,
            "lineAlpha":1
        }]
    });
    var chartData = @(Html.Raw(ViewBag.RecordsByGovernorate));
    AmCharts.makeChart("governoratediv", {
        "type": "serial",
        "dataProvider": chartData,
        "categoryField": "Governorate",
        "startDuration": 1,
        "theme": "none",
        "startEffect": "bounce",
        "categoryAxis": {
            "gridPosition": "start",
            "labelRotation": "90",
            "minorGridEnabled": true,
            "autoGridCount": false,
            "gridCount": 17
        },
        "graphs": [{
            "title": "Number of Records",
            "valueField": "Number",
            "bullet": "round",
            "bulletBorderColor": "#FFFFFF",
            "bulletBorderThickness": 2,
            "fillAlphas": 0.8,
            "lineThickness": 2,
            "type": "column",
            "lineAlpha":1
        }]
    });
    var chart = AmCharts.makeChart( "genderdiv", {
        "type": "pie",
        "theme": "light",
        "dataProvider": @(Html.Raw(ViewBag.GenderReport)),
        "valueField": "Number",
        "titleField": "Gender",
        "balloon":{
            "fixedPosition":true
        },
        "export": {
            "enabled": true
        }
    } );
</script>