﻿
@{
    Layout = null;
    ViewBag.Destination = "";
    if (Request.Params["error"] == "InvalidCredentials")
    {
        ViewBag.ErrorMessage = "Invalid user name or password";
    }
    else if(Request.Params["error"] == "NoRights")
    {
        ViewBag.ErrorMessage = "You do not have enough rights to use the Log Book Recording System. Kindly contact your System Administrator";
    }
    else if (Request.Params["error"] == "NoServer")
    {
        ViewBag.ErrorMessage = "The WFP GLOBAL authentication server could not be reached. Kindly inform the System Administrator";
    }
    else if (Request.Params["error"] == "NoCredentials")
    {
        ViewBag.ErrorMessage = "You must enter both the user name and the password";
    }
    else if(Request.Params["error"]!=null)
    {
        ViewBag.ErrorMessage = Request.Params["error"];
    }
    if(Request.Params["destination"] != null)
    {
        ViewBag.Destination = Request.Params["destination"];
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>WFP Jordan Log Book CRM</title>
    <link rel="stylesheet" type="text/css" href="~/Content/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/ECAIS.css" />
    <link href="~/Content/css/login-box.css" rel="stylesheet" type="text/css" />
    <!--[if lt IE 9]>
        <script src="http://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="http://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            </div>
            <div style="text-align:center;color:white">
                <h3>WFP Jordan Monitoring Log Book</h3>
            </div>
        </div>
    </div>
    <form method="post" name="form1" action="~/Home/ProcessLogin">
        <div style="width:100%;padding-top:100px" >
            <div id="login-box" style="margin:auto auto auto auto">
                <h2 style="text-align:center">Login</h2>
                <p style="text-align:center">
                    Please enter your user name and password provided by the System Administrator.
                    If you are WFP staff, enter your global account credentials.
                </p> <br /> <br />
                <div class="row">
                    <div id="login-box-name">User name:</div>
                    <div id="login-box-field">
                        <input name="user" class="form-login form-control" title="Username" value="" size="30" maxlength="2048" />
                    </div>
                </div>
                <div class="row">
                    <div id="login-box-name">Password:</div>
                    <div id="login-box-field">
                        <input name="pass" type="password" class="form-login form-control" title="Password" value="" size="30" maxlength="2048" />
                    </div>
                </div>
                <p style="text-align:center;font-size:120%;color:red">@ViewBag.ErrorMessage</p>
                    <br />
                    <br />
                    <div style="text-align:center">
                        <input name="destination" type="hidden" value="@ViewBag.Destination" />
                        <a href="#">
                            <input class="btn btn-primary btn-lg" style="font-weight:bold" type="submit" value="LOGIN" />
                        </a>
                    </div>
            </div>
        </div>
    </form>
</body>
</html>