﻿
@{
    ViewBag.Title = "Index";
}

<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->
        <!-- BEGIN THEME PANEL -->
        <!-- END THEME PANEL -->
        <h3 class="page-title">
            Log Book :: Help
            <small> user support</small>
        </h3>
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href="/LogBook">Home</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <span>Help</span>
                </li>
            </ul>
            <div class="page-toolbar">
                <div class="btn-group pull-right">
                    <div class="btn-group">
                        <button type="button" class="btn btn-circle btn-outline red dropdown-toggle" data-toggle="dropdown" onclick="edit()">
                            <i class="fa fa-plus"></i>&nbsp;
                            <span class="hidden-sm hidden-xs">New&nbsp;</span>&nbsp;
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- END PAGE HEADER-->
        <p>WFP Log Book is a centralised office used for receiving or transmitting a large volume of requests by telephone. An inbound call centre is operated by WFP to administer incoming product support or information enquiries from consumers. Outbound call centres are operated for telemarketing, solicitation of charitable or political donations, debt collection and market research. A contact centre is a location for centralised handling of individual communications, including letters, faxes, live support software, social media, instant message, and e-mail.</p>
        <p>WFP call centre has an open workspace for call centre agents, with work stations that include a computer for each agent, a telephone set/headset connected to a telecom switch, and one or more supervisor stations. It can be independently operated or networked with additional centres, often linked to a corporate computer network, including mainframes, microcomputers and LANs. Increasingly, the voice and data pathways into the centre are linked through a set of new technologies called computer telephony integration.</p>
        <p>The contact centre is a central point from which all customer contacts are managed. Through contact centres, valuable information about company are routed to appropriate people, contacts to be tracked and data to be gathered. It is generally a part of company’s customer relationship management.</p>
        <p>Contact centre can be defined as a coordinated system of people, processes, technologies and strategies that provides access to information, resources, and expertise, through appropriate channels of communication, enabling interactions that create value for the customer and organisation. Contact centres, along with call centres and communication centres all fall under a larger umbrella labelled as the contact centre management industry. This is becoming a rapidly growing recruitment sector in itself, as the capabilities of contact centres expand and thus require ever more complex systems and highly skilled operational and management staff.</p>
        <p> Recording system streamlines, centralizes and manages all your IT Records. Take email requests and transform them into service Records automatically. From the initial Record request and creation to resolution and closure Recording system software helps you through every stage. </p>
        <strong>Benefits of this Recording System</strong>
<p>This Recording system allows you to automate Record assignment, routing, and escalation to the right agent at the right time. Save time and manual effort for the help desk team, and improve help desk agent productivity. A Recording system or help desk software enables you to:</p>
<ul>
<li>Link associated issues in Parent-Child relationships</li>
<li>Automate Record assignment, routing and escalation to the right agent, at the right time</li>
<li>Associate Records and assets to track asset service history and trends</li>
<li>Create reports for Record status and technician performance</li>
</ul> 
        
</div>
</div>