﻿@using GridMvc.Html
@model IEnumerable<HotlineMVC.Models.LogItem>
@{
    ViewBag.Title = "My Calls";
}
<link href="~/Content/css/Gridmvc.css" rel="stylesheet" />
<link href="~/Content/css/gridmvc.datepicker.css" rel="stylesheet" />
<script src="~/Scripts/gridmvc.min.js"></script>
<script src="~/Scripts/gridmvc.customwidgets1.js?token=123456"></script>
<script src="~/Scripts/bootstrap-datepicker.js"></script>
<script src="~/Content/js/bootstrap-dialog.js"></script>
<link href="~/Content/css/bootstrap-dialog.min.css" rel="stylesheet" />
<style>
    legend {
        color: white;
        border-radius: 5px;
        padding-left: 10px;
        background-color: #337ab7;
    }

    .view-dialog .modal-dialog {
        width: 850px;
    }

    .required {
        color: red;
        float: right;
    }
</style>

<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->
        <!-- BEGIN THEME PANEL -->
        <!-- END THEME PANEL -->
        <h3 class="page-title">
            Log Book :: Log
            <small>Log Book activity log</small>
        </h3>
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href="/LogBook">Home</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <span>Activity Log: <span id="number-of-Records"></span> records</span>
                </li>
            </ul>
        </div>
        <!-- END PAGE HEADER-->
        <div id="gridview">
       @Html.Grid(Model).Named("ordersGrid").Columns(columns =>
       {
           columns.Add(o => o.DoneBy)
                   .Titled("User")
                   .SetWidth(100);
           columns.Add(o => o.Activity)
                   .Titled("Activity")
                   .SetWidth(400);
           columns.Add(o => o.DateTime)
               .Titled("Date and Time")
               .SetWidth(100);
       }).WithPaging(15).Sortable().Filterable().WithMultipleFilters().WithGridItemsCount("Total Records")
        </div>
        <div class="clearfix"></div>
    </div>
</div>
